C 975 -300 "TRIG2_OUT_N" 995 -323 0 1 47 0 L
X "VHDL_MODE" "OUT" 995 -367 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG2_OUT_N" 915 -323 0.00 0.00 47 0 0 2 0 0 1 0 99
C 975 -225 "TRIG2_OUT_P" 995 -248 0 1 47 0 L
X "VHDL_MODE" "OUT" 995 -292 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG2_OUT_P" 915 -248 0.00 0.00 47 0 0 2 0 0 1 0 99
C 975 125 "TRIG1_OUT_N" 995 102 0 1 47 0 L
X "VHDL_MODE" "OUT" 995 58 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG1_OUT_N" 915 102 0.00 0.00 47 0 0 2 0 0 1 0 99
C 975 225 "TRIG1_OUT_P" 995 202 0 1 47 0 L
X "VHDL_MODE" "OUT" 995 158 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG1_OUT_P" 915 202 0.00 0.00 47 0 0 2 0 0 1 0 99
C -400 -575 "GT" -420 -598 0 1 47 0 R
X "VHDL_MODE" "IN" -420 -642 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GT" -340 -598 0.00 0.00 47 0 0 0 0 0 1 0 99
C -400 -650 "DGT_GATE" -420 -673 0 1 47 0 R
X "VHDL_MODE" "IN" -420 -717 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "DGT_GATE" -340 -673 0.00 0.00 47 0 0 0 0 0 1 0 99
C -400 -750 "LO*" -420 -773 0 1 47 0 R
X "VHDL_MODE" "IN" -420 -817 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LO*" -340 -773 0.00 0.00 47 0 0 0 0 0 1 0 99
C -400 325 "OVER_THRESH1_P" -420 302 0 1 47 0 R
X "VHDL_MODE" "IN" -420 258 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "OVER_THRESH1_P" -340 302 0.00 0.00 47 0 0 0 0 0 1 0 99
C -400 250 "OVER_THRESH1_N" -420 227 0 1 47 0 R
X "VHDL_MODE" "IN" -420 183 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "OVER_THRESH1_N" -340 227 0.00 0.00 47 0 0 0 0 0 1 0 99
C -400 -175 "OVER_THRESH2_P" -420 -198 0 1 47 0 R
X "VHDL_MODE" "IN" -420 -242 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "OVER_THRESH2_P" -340 -198 0.00 0.00 47 0 0 0 0 0 1 0 99
C -400 -250 "OVER_THRESH2_N" -420 -273 0 1 47 0 R
X "VHDL_MODE" "IN" -420 -317 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "OVER_THRESH2_N" -340 -273 0.00 0.00 47 0 0 0 0 0 1 0 99
C -400 150 "POSNEG1_P" -420 127 0 1 47 0 R
X "VHDL_MODE" "IN" -420 83 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "POSNEG1_P" -340 127 0.00 0.00 47 0 0 0 0 0 1 0 99
C -400 75 "POSNEG1_N" -420 52 0 1 47 0 R
X "VHDL_MODE" "IN" -420 8 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "POSNEG1_N" -340 52 0.00 0.00 47 0 0 0 0 0 1 0 99
C -400 -350 "POSNEG2_P" -420 -373 0 1 47 0 R
X "VHDL_MODE" "IN" -420 -417 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "POSNEG2_P" -340 -373 0.00 0.00 47 0 0 0 0 0 1 0 99
C -400 -425 "POSNEG2_N" -420 -448 0 1 47 0 R
X "VHDL_MODE" "IN" -420 -492 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "POSNEG2_N" -340 -448 0.00 0.00 47 0 0 0 0 0 1 0 99
C 975 -550 "TRIG1_OUT_TTL" 995 -573 0 1 47 0 L
X "VHDL_MODE" "OUT" 995 -617 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG1_OUT_TTL" 915 -573 0.00 0.00 47 0 0 2 0 0 1 0 99
C 975 -650 "TRIG2_OUT_TTL" 995 -673 0 1 47 0 L
X "VHDL_MODE" "OUT" 995 -717 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG2_OUT_TTL" 915 -673 0.00 0.00 47 0 0 2 0 0 1 0 99
L 975 -650 925 -650 -1 16
L 925 -825 925 525 -1 16
L 975 -550 925 -550 -1 16
L -350 525 -350 -825 -1 16
L -350 425 925 425 -1 16
L -400 325 -350 325 -1 16
L -400 150 -350 150 -1 16
L -400 -175 -350 -175 -1 16
L -400 -350 -350 -350 -1 16
L -400 -650 -350 -650 -1 16
L -400 -575 -350 -575 -1 16
L 975 225 925 225 -1 16
L 975 -225 925 -225 -1 16
L 925 525 -350 525 -1 16
L -350 -825 925 -825 -1 16
A -375 -425 25 0.00 359.91 74
A -375 75 25 0.00 359.91 74
A -375 -250 25 0.00 359.91 74
A -375 250 25 0.00 359.91 74
A -375 -750 25 0.00 359.91 74
A 950 125 25 0.00 359.91 74
A 950 -300 25 0.00 359.91 74
T 263 465 0.00 0.00 47 0 0 1 0 13 0
TRIGGER_LOGIC
P "BLOCK" "TRUE" 0 10 0.00 0.00 47 0 0 1 0 0 0 0 99
