C -625 75 "TUB_CLK_IN" -645 52 0 1 47 0 R
X "VHDL_MODE" "IN" -645 8 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "TUB_CLK_IN" -565 52 0.00 0.00 47 0 0 0 0 0 1 0 99
C -625 325 "CLK_SEL" -645 302 0 1 47 0 R
X "VHDL_MODE" "IN" -645 258 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "CLK_SEL" -565 302 0.00 0.00 47 0 0 0 0 0 1 0 99
C -625 200 "RESET" -645 177 0 1 47 0 R
X "VHDL_MODE" "IN" -645 133 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "RESET" -565 177 0.00 0.00 47 0 0 0 0 0 1 0 99
C 600 300 "DEFAULT_CLK" 620 277 0 1 47 0 L
X "VHDL_MODE" "OUT" 620 233 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "DEFAULT_CLK" 540 277 0.00 0.00 47 0 0 2 0 0 1 0 99
C 600 225 "BCKP_CLK" 620 202 0 1 47 0 L
X "VHDL_MODE" "OUT" 620 158 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "BCKP_CLK" 540 202 0.00 0.00 47 0 0 2 0 0 1 0 99
C 600 25 "RESET_ECL_P" 620 2 0 1 47 0 L
X "VHDL_MODE" "OUT" 620 -42 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "RESET_ECL_P" 540 2 0.00 0.00 47 0 0 2 0 0 1 0 99
L 600 25 550 25 -1 16
L 550 -450 550 675 -1 16
L -575 675 -575 -450 -1 16
L 600 225 550 225 -1 16
L 600 300 550 300 -1 16
L -575 575 550 575 -1 16
L -625 325 -575 325 -1 16
L -625 200 -575 200 -1 16
L -625 75 -575 75 -1 16
L -575 -450 550 -450 -1 16
L 550 675 -575 675 -1 16
T 0 615 0.00 0.00 47 0 0 1 0 15 0
DEFAULT_CLK_SEL
P "BLOCK" "TRUE" 0 10 0.00 0.00 47 0 0 1 0 0 0 0 99
