C -525 275 "TTL_TO_ECL_IN" -545 252 0 1 47 0 R
X "VHDL_MODE" "IN" -545 208 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "TTL_TO_ECL_IN" -465 252 0.00 0.00 47 0 0 0 0 0 1 0 99
C -525 125 "NIM_TO_ECL_IN" -545 102 0 1 47 0 R
X "VHDL_MODE" "IN" -545 58 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "NIM_TO_ECL_IN" -465 102 0.00 0.00 47 0 0 0 0 0 1 0 99
C -525 200 "LVDS_TO_ECL_IN" -545 177 0 1 47 0 R
X "VHDL_MODE" "IN" -545 133 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LVDS_TO_ECL_IN" -465 177 0.00 0.00 47 0 0 0 0 0 1 0 99
C 775 575 "TTL_TO_ECL_OUT_P" 795 552 0 1 47 0 L
X "VHDL_MODE" "OUT" 795 508 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TTL_TO_ECL_OUT_P" 715 552 0.00 0.00 47 0 0 2 0 0 1 0 99
C 775 525 "TTL_TO_ECL_OUT_N" 795 502 0 1 47 0 L
X "VHDL_MODE" "OUT" 795 458 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TTL_TO_ECL_OUT_N" 715 502 0.00 0.00 47 0 0 2 0 0 1 0 99
C 775 375 "LVDS_TO_ECL_OUT_P" 795 352 0 1 47 0 L
X "VHDL_MODE" "OUT" 795 308 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "LVDS_TO_ECL_OUT_P" 715 352 0.00 0.00 47 0 0 2 0 0 1 0 99
C 775 300 "LVDS_TO_ECL_OUT_N" 795 277 0 1 47 0 L
X "VHDL_MODE" "OUT" 795 233 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "LVDS_TO_ECL_OUT_N" 715 277 0.00 0.00 47 0 0 2 0 0 1 0 99
C 775 -50 "ECL_TO_TTL_OUT" 795 -73 0 1 47 0 L
X "VHDL_MODE" "OUT" 795 -117 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_TTL_OUT" 715 -73 0.00 0.00 47 0 0 2 0 0 1 0 99
C 775 -125 "ECL_TO_LVDS_OUT_P" 795 -148 0 1 47 0 L
X "VHDL_MODE" "OUT" 795 -192 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_LVDS_OUT_P" 715 -148 0.00 0.00 47 0 0 2 0 0 1 0 99
C 775 -200 "ECL_TO_LVDS_OUT_N" 795 -223 0 1 47 0 L
X "VHDL_MODE" "OUT" 795 -267 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_LVDS_OUT_N" 715 -223 0.00 0.00 47 0 0 2 0 0 1 0 99
C 775 -275 "ECL_TO_NIM_OUT" 795 -298 0 1 47 0 L
X "VHDL_MODE" "OUT" 795 -342 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_NIM_OUT" 715 -298 0.00 0.00 47 0 0 2 0 0 1 0 99
C -525 -275 "ECL_TO_NIM_IN" -545 -298 0 1 47 0 R
X "VHDL_MODE" "IN" -545 -342 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_NIM_IN" -465 -298 0.00 0.00 47 0 0 0 0 0 1 0 99
L -525 -50 -475 -50 -1 16
L -475 900 -475 -325 -1 16
L -525 -275 -475 -275 -1 16
L 775 -275 725 -275 -1 16
L 725 -325 725 900 -1 16
L 775 -125 725 -125 -1 16
L 775 -50 725 -50 -1 16
L 775 375 725 375 -1 16
L 775 575 725 575 -1 16
L -475 -325 725 -325 -1 16
L 725 900 -475 900 -1 16
L -525 -125 -475 -125 -1 16
L -525 275 -475 275 -1 16
L -525 125 -475 125 -1 16
L -525 200 -475 200 -1 16
L -475 800 725 800 -1 16
A 750 -200 25 0.00 359.91 74
A 750 300 25 0.00 359.91 74
A 750 525 25 0.00 359.91 74
T 125 840 0.00 0.00 47 0 0 1 0 11 0
TRANSLATION
P "BLOCK" "TRUE" 0 10 0.00 0.00 47 0 0 1 0 0 0 0 99
