C 0 50 "G<SIZE-1..0>\NAC" 0 60 0 1 16 0 C
P "SIZE" "1B" 45 22 0.00 0.00 16 0 0 0 0 0 0 0 0
P "PATH" "?" 45 2 0.00 0.00 16 0 0 0 0 0 0 0 0
P "BODY_TYPE" "PLUMBING" -45 -43 0.00 0.00 16 0 0 0 0 0 0 0 0
L 0 -40 40 0 -1 0
L -40 0 0 -40 -1 0
L 40 0 -40 0 -1 0
L 0 0 0 50 -1 0
P "HDL_POWER" "GND1" 325 -125 0.00 0.00 41 0 0 0 0 0 0 0 32
