C -50 0 "Y\NWC\NAC" -450 0 0 0 41 0 L
C 100 -100 "E\NWC\NAC" 150 -100 0 0 41 0 L
C 100 -50 "D\NWC\NAC" 150 -50 0 0 41 0 L
C 100 0 "C\NWC\NAC" 150 0 0 0 41 0 L
C 100 50 "B\NWC\NAC" 150 50 0 0 41 0 L
C 100 100 "A\NWC\NAC" 150 100 0 0 41 0 L
P "BODY_TYPE" "PLUMBING" 0 50 0.00 0.00 41 0 0 0 0 0 0 0 0
P "NEEDS_NO_SIZE" "TRUE" -25 75 0.00 0.00 41 0 0 0 0 0 0 0 0
L 100 0 -50 0 -1 0
L 50 -100 0 0 -1 0
L 50 100 0 0 -1 0
L 50 100 100 100 -1 0
L 50 -100 100 -100 -1 0
L 25 -50 100 -50 -1 0
L 25 50 100 50 -1 0
T 50 -85 0.00 0.00 16 0 0 0 0 3 0
LSB
T 50 70 0.00 0.00 16 0 0 0 0 3 0
MSB
