P "CDS_LMAN_SYM_OUTLINE" "-25,25,25,-25" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
M -15 35 -15 -35 -1 0
M 15 35 15 -35 -1 0
P "VALUE" "0.1UF" -95 55 0 0 27 0 0 0 0 0 1 0 74
P "PACKTYPE" "0805" -100 -23 0 0 16 0 0 0 0 0 1 0 32
P "POSTOL" "10%" -100 125 0 0 46 0 0 0 0 0 0 0 32
P "VOLTAGE" "25V" -93 -48 0 0 22 0 0 0 0 0 1 0 0
P "NEEDS_NO_SIZE" "TRUE" 0 0 0 0 22 0 0 0 0 0 0 0 0
P "NEGTOL" "10%" 0 0 0 0 27 0 0 0 0 0 0 0 0
P "IC" "UNDEF" 0 0 0 0 27 0 0 0 0 0 0 0 0
P "DIST" "FLAT" 0 0 0 0 27 0 0 0 0 0 0 0 0
P "SLOPE" "CSMAX" 0 0 0 0 27 0 0 0 0 0 0 0 0
P "KNEE" "CBMAX" 0 0 0 0 27 0 0 0 0 0 0 0 0
P "MAX_TEMP" "CTMAX" 0 0 0 0 27 0 0 0 0 0 0 0 0
P "TC" "0" 0 0 0 0 27 0 0 0 0 0 0 0 0
P "CURRENT" "CIMAX" 0 0 0 0 27 0 0 0 0 0 0 0 0
P "TOL_ON_OFF" "ON" 0 0 0 0 27 0 0 0 0 0 0 0 0
P "TOL" "10%" 0 0 0 0 29 0 0 0 0 0 0 0 0
L -100 0 -15 0 -1 0
C -100 0 "A<0>" -175 0 0 1 41 0 L
X "PIN_TEXT" "1" -100 9 0 0 23 0 0 0 0 0 1 0 0
L 100 0 15 0 -1 0
C 100 0 "B<0>" 150 0 0 1 41 0 L
X "PIN_TEXT" "2" 102 8 0 0 23 0 0 2 0 0 1 0 0


