P "CDS_LMAN_SYM_OUTLINE" "-125,250,125,-150" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -125 250 -125 -150 -1 0
L -125 250 125 250 -1 0
L 125 250 125 -150 -1 0
L -125 -150 125 -150 -1 0
T 0 183 0 0 32 0 0 1 0 7 0
74lv06a
L -175 125 -125 125 -1 0
C -175 125 "A1" -200 125 0 1 32 0 R
X "PIN_TEXT" "A1" -115 125 0 0 24 0 0 0 0 0 1 0 0
L -175 75 -125 75 -1 0
C -175 75 "A2" -200 75 0 1 32 0 R
X "PIN_TEXT" "A2" -115 75 0 0 24 0 0 0 0 0 1 0 0
L -175 25 -125 25 -1 0
C -175 25 "A3" -200 25 0 1 32 0 R
X "PIN_TEXT" "A3" -115 25 0 0 24 0 0 0 0 0 1 0 0
L -175 -25 -125 -25 -1 0
C -175 -25 "A4" -200 -25 0 1 32 0 R
X "PIN_TEXT" "A4" -115 -25 0 0 24 0 0 0 0 0 1 0 0
L -175 -75 -125 -75 -1 0
C -175 -75 "A5" -200 -75 0 1 32 0 R
X "PIN_TEXT" "A5" -115 -75 0 0 24 0 0 0 0 0 1 0 0
L -175 -125 -125 -125 -1 0
C -175 -125 "A6" -200 -125 0 1 32 0 R
X "PIN_TEXT" "A6" -115 -125 0 0 24 0 0 0 0 0 1 0 0
L 175 125 125 125 -1 0
C 175 125 "Y1" 200 125 0 1 32 0 L
X "PIN_TEXT" "Y1" 115 125 0 0 24 0 0 2 0 0 1 0 0
L 175 75 125 75 -1 0
C 175 75 "Y2" 200 75 0 1 32 0 L
X "PIN_TEXT" "Y2" 115 75 0 0 24 0 0 2 0 0 1 0 0
L 175 25 125 25 -1 0
C 175 25 "Y3" 200 25 0 1 32 0 L
X "PIN_TEXT" "Y3" 115 25 0 0 24 0 0 2 0 0 1 0 0
L 175 -25 125 -25 -1 0
C 175 -25 "Y4" 200 -25 0 1 32 0 L
X "PIN_TEXT" "Y4" 115 -25 0 0 24 0 0 2 0 0 1 0 0
L 175 -75 125 -75 -1 0
C 175 -75 "Y5" 200 -75 0 1 32 0 L
X "PIN_TEXT" "Y5" 115 -75 0 0 24 0 0 2 0 0 1 0 0
L 175 -125 125 -125 -1 0
C 175 -125 "Y6" 200 -125 0 1 32 0 L
X "PIN_TEXT" "Y6" 115 -125 0 0 24 0 0 2 0 0 1 0 0
L -100 300 -100 250 -1 0
C -100 300 "VCC" -100 325 0 1 32 1 L
X "PIN_TEXT" "VCC" -100 240 90 0 24 0 0 2 0 0 1 0 0
L 100 300 100 250 -1 0
C 100 300 "GND" 100 325 0 1 32 1 L
X "PIN_TEXT" "GND" 99 240 90 0 24 0 0 2 0 0 1 0 0


