P "CDS_LMAN_SYM_OUTLINE" "-200,100,100,-100" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -200 -100 100 -100 -1 0
L -200 100 100 100 -1 0
L -200 -100 -200 100 -1 0
L 100 100 100 -100 -1 0
T -80 -90 0 0 24 0 0 0 0 3 0
GND
P "NAME" "7815" -130 118 0 0 32 0 0 0 0 0 1 0 0
P "RCA" "DEF" -175 220 0 0 16 0 0 0 0 0 0 0 72
P "TOL_ON_OFF" "ON" -175 200 0 0 16 0 0 0 0 0 0 0 72
P "PATH" "?" -180 128 0 0 32 0 0 0 0 0 0 0 0
P "ABBREV" "MC7815K" -100 200 0 0 46 0 0 0 0 0 0 0 32
P "TITLE" "MC7815K" -100 200 0 0 46 0 0 0 0 0 0 0 32
L 100 0 150 0 -1 0
C 150 0 "OUTPUT" 150 10 0 0 31 0 L
X "PIN_TEXT" "VOUT" 0 -12 0 0 24 0 0 0 0 0 1 0 0
L -200 0 -250 0 -1 0
C -250 0 "INPUT" -250 10 0 0 31 0 R
X "PIN_TEXT" "VIN" -190 -12 0 0 24 0 0 0 0 0 1 0 0
L -50 -100 -50 -150 -1 0
C -50 -150 "GROUND" -175 -190 0 0 31 0 L
L 150 -50 100 -50 -1 0
C 150 -50 "OUTPUT_2" 175 -50 0 1 32 0 L
X "PIN_TEXT" "OUTPUT_2" 90 -50 0 0 24 0 0 2 0 0 1 0 0


