C -450 225 "LO_SEL" -470 202 0 1 47 0 R
X "VHDL_MODE" "IN" -470 158 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LO_SEL" -390 202 0.00 0.00 47 0 0 0 0 0 1 0 99
C -450 125 "MTCD_LO*" -470 102 0 1 47 0 R
X "VHDL_MODE" "IN" -470 58 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "MTCD_LO*" -390 102 0.00 0.00 47 0 0 0 0 0 1 0 99
C -450 -25 "DDGT*" -470 -48 0 1 47 0 R
X "VHDL_MODE" "IN" -470 -92 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "DDGT*" -390 -48 0.00 0.00 47 0 0 0 0 0 1 0 99
C 475 275 "LO*" 495 252 0 1 47 0 L
X "VHDL_MODE" "OUT" 495 208 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "LO*" 415 252 0.00 0.00 47 0 0 2 0 0 1 0 99
C 475 125 "LO" 495 102 0 1 47 0 L
X "VHDL_MODE" "OUT" 495 58 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "LO" 415 102 0.00 0.00 47 0 0 2 0 0 1 0 99
L 475 125 425 125 -1 16
L 425 500 425 -275 -1 16
L -450 225 -400 225 -1 16
L -400 -275 -400 500 -1 16
L -400 400 425 400 -1 16
L 425 500 -400 500 -1 16
L -400 -275 425 -275 -1 16
A 450 275 25 0.00 359.91 74
A -425 -25 25 0.00 359.91 74
A -425 125 25 0.00 359.91 74
T 0 440 0.00 0.00 47 0 0 1 0 13 0
SELECT_LO_SRC
P "BLOCK" "TRUE" 0 10 0.00 0.00 47 0 0 1 0 0 0 0 99
