M -8000 0 0 0 -1 1
M -8000 375 0 375 -1 1
M -8000 0 -8000 5000 -1 1
M 0 5000 0 0 -1 1
M -4630 64 -4633 61 -1 3
M -4612 89 -4635 89 -1 3
M -4635 88 -4612 88 -1 3
M -4580 97 -4631 97 -1 3
M -4520 129 -4616 129 -1 3
M -4498 142 -4610 142 -1 3
M -4578 98 -4630 98 -1 3
M -4568 71 -4562 62 -1 3
M -4562 62 -4560 64 -1 3
M -2500 0 -2500 375 -1 1
M -8125 -125 125 -125 -1 1
M 125 5125 125 -125 -1 1
M -8000 5000 0 5000 -1 1
M -8125 5125 125 5125 -1 1
M -8125 -125 -8125 5125 -1 1
M -4639 72 -4633 64 -1 3
M -4638 72 -4632 88 -1 3
M -4631 63 -4638 72 -1 3
M -4630 89 -4637 72 -1 3
M -4637 72 -4630 64 -1 3
M -4633 61 -4642 72 -1 3
M -4642 72 -4635 89 -1 3
M -4641 72 -4634 88 -1 3
M -4634 62 -4641 72 -1 3
M -4635 88 -4639 72 -1 3
M -4632 62 -4640 72 -1 3
M -4640 72 -4633 88 -1 3
M -4633 88 -4639 73 -1 3
M -4639 73 -4633 62 -1 3
M -4632 87 -4639 73 -1 3
M -4608 61 -4605 64 -1 3
M -4608 63 -4607 63 -1 3
M -4633 64 -4632 63 -1 3
M -4616 71 -4605 97 -1 3
M -4616 72 -4608 63 -1 3
M -4607 97 -4617 71 -1 3
M -4605 64 -4613 72 -1 3
M -4618 71 -4608 61 -1 3
M -4608 97 -4618 71 -1 3
M -4606 64 -4614 72 -1 3
M -4615 71 -4607 63 -1 3
M -4607 63 -4616 71 -1 3
M -4617 71 -4608 62 -1 3
M -4605 97 -4615 71 -1 3
M -4606 97 -4616 72 -1 3
M -4631 97 -4630 99 -1 3
M -4632 88 -4631 89 -1 3
M -4614 72 -4604 96 -1 3
M -4617 126 -4615 129 -1 3
M -4609 144 -4610 141 -1 3
M -4624 115 -4625 112 -1 3
M -4624 115 -4548 115 -1 3
M -4625 113 -4551 113 -1 3
M -4609 144 -4495 144 -1 3
M -4608 142 -4497 143 -1 3
M -4497 143 -4610 143 -1 3
M -4500 141 -4610 141 -1 3
M -4615 128 -4521 128 -1 3
M -4617 126 -4524 126 -1 3
M -4630 99 -4575 99 -1 3
M -4613 72 -4603 97 -1 3
M -4625 112 -4553 112 -1 3
M -4616 127 -4523 127 -1 3
M -4624 114 -4549 114 -1 3
M -4588 72 -4581 63 -1 3
M -4593 72 -4580 97 -1 3
M -4584 61 -4593 72 -1 3
M -4581 63 -4584 61 -1 3
M -4575 99 -4588 72 -1 3
M -4592 72 -4579 98 -1 3
M -4584 62 -4592 72 -1 3
M -4590 72 -4578 97 -1 3
M -4582 63 -4590 72 -1 3
M -4590 72 -4576 98 -1 3
M -4583 63 -4590 72 -1 3
M -4583 62 -4591 72 -1 3
M -4591 72 -4578 98 -1 3
M -4578 98 -4590 72 -1 3
M -4566 72 -4560 64 -1 3
M -4569 72 -4564 65 -1 3
M -4567 72 -4561 64 -1 3
M -4568 72 -4562 65 -1 3
M -4562 63 -4568 72 -1 3
M -4561 63 -4568 72 -1 3
M -4541 63 -4550 73 -1 3
M -4549 70 -4551 73 -1 3
M -4542 62 -4549 70 -1 3
M -4548 73 -4539 64 -1 3
M -4539 64 -4542 62 -1 3
M -4507 75 -4497 65 -1 3
M -4530 74 -4521 64 -1 3
M -4522 62 -4532 74 -1 3
M -4522 63 -4532 74 -1 3
M -4530 73 -4522 63 -1 3
M -4519 64 -4522 62 -1 3
M -4528 74 -4519 64 -1 3
M -4524 84 -4529 74 -1 3
M -4508 75 -4497 64 -1 3
M -4509 75 -4497 63 -1 3
M -4497 63 -4495 65 -1 3
M -4505 75 -4495 65 -1 3
M -4506 75 -4496 65 -1 3
M -4498 142 -4530 74 -1 3
M -4495 144 -4528 74 -1 3
M -4497 143 -4530 73 -1 3
M -4548 73 -4520 129 -1 3
M -4553 105 -4568 72 -1 3
M -4551 113 -4567 73 -1 3
M -4551 113 -4567 72 -1 3
M -4548 115 -4566 72 -1 3
M -4531 75 -4499 141 -1 3
M -4513 108 -4524 84 -1 3
M -4532 74 -4500 141 -1 3
M -4550 73 -4522 127 -1 3
M -4551 73 -4524 126 -1 3
M -4553 112 -4569 72 -1 3
M -4549 73 -4523 127 -1 3
M -4499 141 -4497 142 -1 3
M -4497 142 -4513 108 -1 3
M -4596 171 -4595 175 -1 3
M -4549 114 -4553 105 -1 3
M -4457 173 -4596 173 -1 3
M -4457 173 -4507 75 -1 3
M -4459 172 -4596 172 -1 3
M -4459 172 -4508 75 -1 3
M -4595 175 -4455 175 -1 3
M -4455 175 -4505 75 -1 3
M -4595 174 -4456 174 -1 3
M -4456 174 -4506 75 -1 3
M -4461 171 -4509 75 -1 3
M -4461 171 -4596 171 -1 3
M -4365 147 -4320 147 -1 3
M -4320 146 -4365 146 -1 3
M 0 150 -2500 150 -1 1
M -2000 0 -2000 -125 -1 1
M -1000 0 -1000 -125 -1 1
M -750 0 -750 375 -1 1
L 5 5005 5 -5 -1 0
L 120 -120 -8120 -120 -1 0
L -8005 -5 5 -5 -1 0
M -3000 0 -3000 -125 -1 1
M 0 2750 125 2750 -1 1
M 0 1625 125 1625 -1 1
M -5450 375 -5450 0 -1 1
M -4000 5000 -4000 5125 -1 1
M -7000 0 -7000 -125 -1 1
M -6000 0 -6000 -125 -1 1
M -5000 0 -5000 -125 -1 1
M -1000 5125 -1000 5000 -1 1
M -2000 5125 -2000 5000 -1 1
M -3000 5125 -3000 5000 -1 1
M -5000 5125 -5000 5000 -1 1
M -6000 5125 -6000 5000 -1 1
M -7000 5125 -7000 5000 -1 1
M -8125 2750 -8000 2750 -1 1
M -8125 3875 -8000 3875 -1 1
M -8125 1625 -8000 1625 -1 1
M 0 3875 125 3875 -1 1
L 120 5120 -8120 5120 -1 0
L 5 5005 -8005 5005 -1 0
L -8120 5120 -8120 -120 -1 0
L -8005 5005 -8005 -5 -1 0
L 120 5120 120 -120 -1 0
M -4000 -125 -4000 0 -1 1
T -7900 25 0.00 0.00 41 0 0 0 0 21 0
COPYRIGHT (C) CADENCE
T -4425 80 0.00 0.00 59 0 0 0 0 7 68
CADENCE
T -4775 225 0.00 0.00 59 0 0 0 0 27 68
CADENCE DESIGN SYSTEMS,INC.
T -2450 100 0.00 0.00 41 0 0 0 0 5 0
DATE:
T -2500 -75 0.00 0.00 41 0 0 0 0 1 0
3
T -700 100 0.00 0.00 41 0 0 0 0 5 0
PAGE:
T -700 325 0.00 0.00 41 0 0 0 0 9 0
ENGINEER:
T -475 -75 0.00 0.00 41 0 0 0 0 1 0
1
T -1500 -75 0.00 0.00 41 0 0 0 0 1 0
2
T 50 975 0.00 0.00 41 0 0 0 0 1 0
A
T -3500 -75 0.00 0.00 41 0 0 0 0 1 0
4
T 50 2175 0.00 0.00 41 0 0 0 0 1 0
B
T 50 3300 0.00 0.00 41 0 0 0 0 1 0
C
T -7900 305 0.00 0.00 41 0 0 0 0 50 0
THIS  DOCUMENT  CONTAINS  INFORMATION  PROPRIETARY
T -7900 165 0.00 0.00 41 0 0 0 0 50 0
OR DISCLOSURE WITHOUT THE WRITTEN PERMISSION OF AN
T -8075 975 0.00 0.00 41 0 0 0 0 1 0
A
T -8075 2175 0.00 0.00 41 0 0 0 0 1 0
B
T -8075 3300 0.00 0.00 41 0 0 0 0 1 0
C
T -8075 4475 0.00 0.00 41 0 0 0 0 1 0
D
T 50 4425 0.00 0.00 41 0 0 0 0 1 0
D
T -500 5050 0.00 0.00 41 0 0 0 0 1 0
1
T -1525 5050 0.00 0.00 41 0 0 0 0 1 0
2
T -2525 5050 0.00 0.00 41 0 0 0 0 1 0
3
T -3525 5050 0.00 0.00 41 0 0 0 0 1 0
4
T -4500 5050 0.00 0.00 41 0 0 0 0 1 0
5
T -5500 5050 0.00 0.00 41 0 0 0 0 1 0
6
T -5525 -75 0.00 0.00 41 0 0 0 0 1 0
6
T -6525 -75 0.00 0.00 41 0 0 0 0 1 0
7
T -6500 5050 0.00 0.00 41 0 0 0 0 1 0
7
T -7500 5050 0.00 0.00 41 0 0 0 0 1 0
8
T -7500 -75 0.00 0.00 41 0 0 0 0 1 0
8
T -4525 -75 0.00 0.00 41 0 0 0 0 1 0
5
T -7900 235 0.00 0.00 41 0 0 0 0 43 0
TO  CADENCE DESIGN SYSTEMS INC (CADENCE).  
T -7900 95 0.00 0.00 41 0 0 0 0 42 0
OFFICER OF CADENCE IS EXPRESSLY FORBIDDEN.
P "COMMENT_BODY" "TRUE" -225 -75 0.00 0.00 41 0 0 0 0 0 0 0 0
