M -8000 0 0 0 -1 1
M -8000 375 0 375 -1 1
M 0 5000 0 0 -1 1
M -8000 0 -8000 5000 -1 1
M -2500 0 -2500 375 -1 1
M -8125 -125 125 -125 -1 1
M 125 5125 125 -125 -1 1
M -8000 5000 0 5000 -1 1
M -8125 5125 125 5125 -1 1
M -8125 -125 -8125 5125 -1 1
M 0 150 -2500 150 -1 1
M -2000 0 -2000 -125 -1 1
M -1000 0 -1000 -125 -1 1
M -750 0 -750 375 -1 1
L 5 5005 5 -5 -1 0
L 120 -120 -8120 -120 -1 0
L -8005 -5 5 -5 -1 0
M -3585 335 -3560 330 -1 1
M -3560 330 -3545 325 -1 1
M -3545 325 -3525 315 -1 1
M -3525 315 -3510 305 -1 1
M -3510 305 -3485 280 -1 1
M -3485 280 -3475 260 -1 1
M -3475 260 -3470 245 -1 1
M -3470 245 -3465 220 -1 1
M -3465 220 -3465 200 -1 1
M -3465 200 -3475 160 -1 1
M -3475 160 -3480 150 -1 1
M -3480 150 -3490 135 -1 1
M -3490 135 -3515 110 -1 1
M -3515 110 -3530 100 -1 1
M -3530 100 -3540 95 -1 1
M -3540 95 -3555 90 -1 1
M -3555 90 -3575 85 -1 1
M -3605 280 -3590 275 -1 1
M -3590 275 -3580 270 -1 1
M -3580 270 -3565 260 -1 1
M -3565 260 -3555 245 -1 1
M -3555 245 -3550 235 -1 1
M -3550 235 -3545 220 -1 1
M -3545 220 -3545 200 -1 1
M -3545 200 -3550 185 -1 1
M -3550 185 -3560 165 -1 1
M -3560 165 -3570 155 -1 1
M -3570 155 -3585 145 -1 1
M -3585 145 -3605 140 -1 1
M -3000 0 -3000 -125 -1 1
M 0 2750 125 2750 -1 1
M 0 1625 125 1625 -1 1
M -5450 375 -5450 0 -1 1
M -4000 5000 -4000 5125 -1 1
M -7000 0 -7000 -125 -1 1
M -6000 0 -6000 -125 -1 1
M -5000 0 -5000 -125 -1 1
M -1000 5125 -1000 5000 -1 1
M -2000 5125 -2000 5000 -1 1
M -3000 5125 -3000 5000 -1 1
M -5000 5125 -5000 5000 -1 1
M -6000 5125 -6000 5000 -1 1
M -7000 5125 -7000 5000 -1 1
M -8125 2750 -8000 2750 -1 1
M -8125 3875 -8000 3875 -1 1
M -8125 1625 -8000 1625 -1 1
M 0 3875 125 3875 -1 1
L 120 5120 -8120 5120 -1 0
L 5 5005 -8005 5005 -1 0
L -8120 5120 -8120 -120 -1 0
L -8005 5005 -8005 -5 -1 0
L 120 5120 120 -120 -1 0
M -4000 -125 -4000 0 -1 1
M -3955 140 -3955 335 -1 1
M -3955 335 -4030 335 -1 1
M -4030 335 -4030 85 -1 1
M -4050 85 -4175 335 -1 1
M -4130 85 -4050 85 -1 1
M -4220 350 -4220 235 -1 1
M -4210 335 -4210 235 -1 1
M -4175 335 -4210 335 -1 1
M -4220 235 -4360 60 -1 1
M -4360 60 -4360 170 -1 1
M -4360 170 -4220 350 -1 1
M -4370 20 -4370 140 -1 1
M -4370 140 -4525 350 -1 1
M -4525 350 -4525 230 -1 1
M -4525 230 -4370 20 -1 1
M -4150 120 -4300 120 -1 1
M -4300 120 -4270 155 -1 1
M -4270 155 -4170 155 -1 1
M -4130 85 -4150 120 -1 1
M -4170 155 -4210 235 -1 1
M -3700 85 -3700 335 -1 1
M -3700 335 -3625 335 -1 1
M -3625 335 -3625 140 -1 1
M -3615 335 -3615 280 -1 1
M -3585 335 -3615 335 -1 1
M -3700 85 -3575 85 -1 1
M -3740 335 -3740 85 -1 1
M -3740 85 -3815 85 -1 1
M -3815 85 -3815 335 -1 1
M -3815 335 -3740 335 -1 1
M -3845 85 -3845 140 -1 1
M -3845 140 -3955 140 -1 1
M -4030 85 -3845 85 -1 1
M -3625 140 -3605 140 -1 1
M -3615 280 -3605 280 -1 1
T -2450 100 0.00 0.00 41 0 0 0 0 5 0
DATE:
T -2500 -75 0.00 0.00 41 0 0 0 0 1 0
3
T -700 100 0.00 0.00 41 0 0 0 0 5 0
PAGE:
T -700 325 0.00 0.00 41 0 0 0 0 9 0
ENGINEER:
T -475 -75 0.00 0.00 41 0 0 0 0 1 0
1
T -1500 -75 0.00 0.00 41 0 0 0 0 1 0
2
T 50 975 0.00 0.00 41 0 0 0 0 1 0
A
T -3500 -75 0.00 0.00 41 0 0 0 0 1 0
4
T 50 2175 0.00 0.00 41 0 0 0 0 1 0
B
T 50 3300 0.00 0.00 41 0 0 0 0 1 0
C
T -7900 305 0.00 0.00 41 0 0 0 0 50 0
THIS  DOCUMENT  CONTAINS  INFORMATION  PROPRIETARY
T -7900 235 0.00 0.00 41 0 0 0 0 50 0
TO  VALID LOGIC SYSTEMS INCORPORATED (VALID).  USE
T -7900 165 0.00 0.00 41 0 0 0 0 50 0
OR DISCLOSURE WITHOUT THE WRITTEN PERMISSION OF AN
T -7900 95 0.00 0.00 41 0 0 0 0 40 0
OFFICER OF VALID IS EXPRESSLY FORBIDDEN.
T -7900 25 0.00 0.00 41 0 0 0 0 24 0
COPYRIGHT (C) VALID 1982
T -8075 975 0.00 0.00 41 0 0 0 0 1 0
A
T -8075 2175 0.00 0.00 41 0 0 0 0 1 0
B
T -8075 3300 0.00 0.00 41 0 0 0 0 1 0
C
T -8075 4475 0.00 0.00 41 0 0 0 0 1 0
D
T 50 4425 0.00 0.00 41 0 0 0 0 1 0
D
T -500 5050 0.00 0.00 41 0 0 0 0 1 0
1
T -1525 5050 0.00 0.00 41 0 0 0 0 1 0
2
T -2525 5050 0.00 0.00 41 0 0 0 0 1 0
3
T -3525 5050 0.00 0.00 41 0 0 0 0 1 0
4
T -4500 5050 0.00 0.00 41 0 0 0 0 1 0
5
T -5500 5050 0.00 0.00 41 0 0 0 0 1 0
6
T -5525 -75 0.00 0.00 41 0 0 0 0 1 0
6
T -6525 -75 0.00 0.00 41 0 0 0 0 1 0
7
T -6500 5050 0.00 0.00 41 0 0 0 0 1 0
7
T -7500 5050 0.00 0.00 41 0 0 0 0 1 0
8
T -7500 -75 0.00 0.00 41 0 0 0 0 1 0
8
T -4525 -75 0.00 0.00 41 0 0 0 0 1 0
5
T -4325 25 0.00 0.00 33 0 0 0 0 26 0
LOGIC SYSTEMS INCORPORATED
P "COMMENT_BODY" "TRUE" -225 -75 0.00 0.00 41 0 0 0 0 0 0 0 0
