C -700 100 "DATA_RDY" -720 77 0 1 47 0 R
X "VHDL_MODE" "IN" -720 33 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "DATA_RDY" -640 77 0.00 0.00 47 0 0 0 0 0 1 0 99
C -700 175 "DATA" -720 152 0 1 47 0 R
X "VHDL_MODE" "IN" -720 108 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "DATA" -640 152 0.00 0.00 47 0 0 0 0 0 1 0 99
C -700 225 "CLK" -720 202 0 1 47 0 R
X "VHDL_MODE" "IN" -720 158 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "CLK" -640 202 0.00 0.00 47 0 0 0 0 0 1 0 99
C -700 300 "LE" -720 277 0 1 47 0 R
X "VHDL_MODE" "IN" -720 233 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LE" -640 277 0.00 0.00 47 0 0 0 0 0 1 0 99
C -700 400 "PULSE2_ANAL" -720 377 0 1 47 0 R
X "VHDL_MODE" "IN" -720 333 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "PULSE2_ANAL" -640 377 0.00 0.00 47 0 0 0 0 0 1 0 99
C -700 525 "PULSE1_ANAL" -720 502 0 1 47 0 R
X "VHDL_MODE" "IN" -720 458 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "PULSE1_ANAL" -640 502 0.00 0.00 47 0 0 0 0 0 1 0 99
C -700 -225 "LO*" -720 -248 0 1 47 0 R
X "VHDL_MODE" "IN" -720 -292 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LO*" -640 -248 0.00 0.00 47 0 0 0 0 0 1 0 99
C -700 -150 "GT" -720 -173 0 1 47 0 R
X "VHDL_MODE" "IN" -720 -217 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GT" -640 -173 0.00 0.00 47 0 0 0 0 0 1 0 99
C -700 -75 "DGT" -720 -98 0 1 47 0 R
X "VHDL_MODE" "IN" -720 -142 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "DGT" -640 -98 0.00 0.00 47 0 0 0 0 0 1 0 99
C 650 -125 "TRIG2_OUT_N" 670 -148 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -192 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG2_OUT_N" 590 -148 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -25 "TRIG2_OUT_P" 670 -48 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -92 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG2_OUT_P" 590 -48 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 150 "TRIG1_OUT_N" 670 127 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 83 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG1_OUT_N" 590 127 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 225 "TRIG1_OUT_P" 670 202 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 158 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG1_OUT_P" 590 202 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 450 "TRIG1_OUT_TTL" 670 427 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 383 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG1_OUT_TTL" 590 427 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 350 "TRIG2_OUT_TTL" 670 327 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 283 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TRIG2_OUT_TTL" 590 327 0.00 0.00 47 0 0 2 0 0 1 0 99
L 650 350 600 350 -1 16
L 600 -250 600 675 -1 16
L 650 450 600 450 -1 16
L -650 675 -650 -250 -1 16
L 650 225 600 225 -1 16
L 650 -25 600 -25 -1 16
L -650 575 600 575 -1 16
L -700 525 -650 525 -1 16
L -700 400 -650 400 -1 16
L -700 300 -650 300 -1 16
L -700 225 -650 225 -1 16
L -700 175 -650 175 -1 16
L -700 100 -650 100 -1 16
L -700 -75 -650 -75 -1 16
L -700 -150 -650 -150 -1 16
L -650 -250 600 -250 -1 16
L 600 675 -650 675 -1 16
A 625 150 25 0.00 359.91 74
A 625 -125 25 0.00 359.91 74
A -675 -225 25 0.00 359.91 74
T -25 615 0.00 0.00 47 0 0 1 0 10 0
MTCA_MIMIC
P "BLOCK" "TRUE" 0 10 0.00 0.00 47 0 0 1 0 0 0 0 99
