C -175 -150 "A5" -200 -150 0 1 29 0 R
X "PIN_TEXT" "A5" -115 -150 0.00 0.00 23 0 0 0 0 0 1 0 0
C -175 -100 "A4" -200 -100 0 1 29 0 R
X "PIN_TEXT" "A4" -115 -100 0.00 0.00 23 0 0 0 0 0 1 0 0
C -175 -50 "A3" -200 -50 0 1 29 0 R
X "PIN_TEXT" "A3" -115 -50 0.00 0.00 23 0 0 0 0 0 1 0 0
C -175 0 "A2" -200 0 0 1 29 0 R
X "PIN_TEXT" "A2" -115 0 0.00 0.00 23 0 0 0 0 0 1 0 0
C -175 50 "A1" -200 50 0 1 29 0 R
X "PIN_TEXT" "A1" -115 50 0.00 0.00 23 0 0 0 0 0 1 0 0
C -175 100 "A0" -200 100 0 1 29 0 R
X "PIN_TEXT" "A0" -115 100 0.00 0.00 23 0 0 0 0 0 1 0 0
C 175 -150 "Y5" 200 -150 0 1 29 0 L
X "PIN_TEXT" "Y5" 115 -150 0.00 0.00 23 0 0 2 0 0 1 0 0
C 175 -100 "Y4" 200 -100 0 1 29 0 L
X "PIN_TEXT" "Y4" 115 -100 0.00 0.00 23 0 0 2 0 0 1 0 0
C 175 -50 "Y3" 200 -50 0 1 29 0 L
X "PIN_TEXT" "Y3" 115 -50 0.00 0.00 23 0 0 2 0 0 1 0 0
C 175 0 "Y2" 200 0 0 1 29 0 L
X "PIN_TEXT" "Y2" 115 0 0.00 0.00 23 0 0 2 0 0 1 0 0
C 175 50 "Y1" 200 50 0 1 29 0 L
X "PIN_TEXT" "Y1" 115 50 0.00 0.00 23 0 0 2 0 0 1 0 0
C 175 100 "Y0" 200 100 0 1 29 0 L
X "PIN_TEXT" "Y0" 115 100 0.00 0.00 23 0 0 2 0 0 1 0 0
L -125 200 125 200 -1 0
L -125 200 -125 -175 -1 0
L 125 200 125 -175 -1 0
L -125 -175 125 -175 -1 0
L 175 100 125 100 -1 0
L 175 50 125 50 -1 0
L 175 0 125 0 -1 0
L 175 -50 125 -50 -1 0
L 175 -100 125 -100 -1 0
L 175 -150 125 -150 -1 0
L -175 100 -125 100 -1 0
L -175 50 -125 50 -1 0
L -175 0 -125 0 -1 0
L -175 -50 -125 -50 -1 0
L -175 -100 -125 -100 -1 0
L -175 -150 -125 -150 -1 0
T 0 150 0.00 0.00 29 0 0 1 0 5 0
74F07
P "CDS_LMAN_SYM_OUTLINE" "-125,150,125,-150" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
