C 0 50 "B<SIZE-1..0> \NAC" 0 100 0 0 41 0 L
C 50 -100 "A \NWC\NAC" 50 -200 0 0 41 0 L
P "BODY_TYPE" "PLUMBING" 50 -50 0.00 0.00 41 0 0 0 0 0 0 0 0
P "SIZE" "1" 75 -50 0.00 0.00 41 0 0 0 0 0 1 0 0
L 50 -25 -50 25 -1 0
L 0 -50 50 -100 -1 0
L 0 50 0 -50 -1 0
T 15 15 0.00 0.00 25 0 0 0 0 3 0
LSB
