C 650 -2000 "TUBII_RT_OUT" 670 -2023 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -2067 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TUBII_RT_OUT" 590 -2023 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -2050 "EXT_TRIG_IN<0..15>" 670 -2073 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -2117 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "EXT_TRIG_IN<0..15>" 590 -2073 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1425 "SYNC24_LVDS_N" 670 1402 0 1 47 0 L
X "VHDL_MODE" "IN" 670 1358 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC24_LVDS_N" 590 1402 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -2100 "MTCA_MIMIC1_PULSE_ANAL" 670 -2123 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -2167 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC1_PULSE_ANAL" 590 -2123 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -350 "TELLIE_DELAY_IN" 670 -373 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -417 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TELLIE_DELAY_IN" 590 -373 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -225 "SMELLIE_DELAY_IN" 670 -248 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -292 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SMELLIE_DELAY_IN" 590 -248 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1675 "EXT_PED_IN" 670 -1698 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -1742 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "EXT_PED_IN" 590 -1698 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 800 "PULSE_IN_ANAL<0..11>" 670 777 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 733 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "PULSE_IN_ANAL<0..11>" 590 777 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1300 "GT_N" 670 1277 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 1233 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT_N" 590 1277 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1375 "GT_P" 670 1352 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 1308 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT_P" 590 1352 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1750 "SYNC24_N" 670 1727 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 1683 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC24_N" 590 1727 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1800 "SYNC24_P" 670 1777 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 1733 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC24_P" 590 1777 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1900 "SYNC_N" 670 1877 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 1833 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC_N" 590 1877 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1975 "SYNC_P" 670 1952 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 1908 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC_P" 590 1952 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 600 "MTCD_LO*" 670 577 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 533 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "MTCD_LO*" 590 577 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 2100 "PULSE_INV_IN" 670 2077 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 2033 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "PULSE_INV_IN" 590 2077 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 900 "RIBBON_PULSE_IN_N" 670 877 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 833 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "RIBBON_PULSE_IN_N" 590 877 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 975 "RIBBON_PULSE_IN_P" 670 952 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 908 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "RIBBON_PULSE_IN_P" 590 952 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 2425 "GENERIC_DELAY_IN" 670 2402 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 2358 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GENERIC_DELAY_IN" 590 2402 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1600 "SCALER<1..6>" 670 -1623 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -1667 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SCALER<1..6>" 590 -1623 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -575 "TELLIE_PULSE_OUT" 670 -598 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -642 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TELLIE_PULSE_OUT" 590 -598 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -500 "SMELLIE_PULSE_OUT" 670 -523 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -567 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SMELLIE_PULSE_OUT" 590 -523 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -400 "TELLIE_DELAY_OUT" 670 -423 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -467 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TELLIE_DELAY_OUT" 590 -423 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -275 "SMELLIE_DELAY_OUT" 670 -298 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -342 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SMELLIE_DELAY_OUT" 590 -298 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1925 "CLK100_N" 670 -1948 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -1992 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "CLK100_N" 590 -1948 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1875 "CLK100_P" 670 -1898 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -1942 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "CLK100_P" 590 -1898 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -50 "MTCA_MIMIC2_OUT_N" 670 -73 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -117 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC2_OUT_N" 590 -73 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 25 "MTCA_MIMIC2_OUT_P" 670 2 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -42 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC2_OUT_P" 590 2 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 100 "MTCA_MIMIC1_OUT_N" 670 77 0 1 47 0 L
X "VHDL_MODE" "IN" 670 33 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC1_OUT_N" 590 77 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 175 "MTCA_MIMIC1_OUT_P" 670 152 0 1 47 0 L
X "VHDL_MODE" "IN" 670 108 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC1_OUT_P" 590 152 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 250 "EXT_PED_OUT" 670 227 0 1 47 0 L
X "VHDL_MODE" "IN" 670 183 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "EXT_PED_OUT" 590 227 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 325 "LO_STAR_OUT_N" 670 302 0 1 47 0 L
X "VHDL_MODE" "IN" 670 258 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "LO_STAR_OUT_N" 590 302 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 375 "LO_STAR_OUT_P" 670 352 0 1 47 0 L
X "VHDL_MODE" "IN" 670 308 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "LO_STAR_OUT_P" 590 352 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 475 "DGT_N" 670 452 0 1 47 0 L
X "VHDL_MODE" "IN" 670 408 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "DGT_N" 590 452 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 550 "DGT_P" 670 527 0 1 47 0 L
X "VHDL_MODE" "IN" 670 483 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "DGT_P" 590 527 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 675 "SCOPE_OUT_ANAL<0..7>" 670 652 0 1 47 0 L
X "VHDL_MODE" "IN" 670 608 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SCOPE_OUT_ANAL<0..7>" 590 652 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 750 "CAEN_OUT_ANAL<0..7>" 670 727 0 1 47 0 L
X "VHDL_MODE" "IN" 670 683 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "CAEN_OUT_ANAL<0..7>" 590 727 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1500 "SYNC24_LVDS_P" 670 1477 0 1 47 0 L
X "VHDL_MODE" "IN" 670 1433 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC24_LVDS_P" 590 1477 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1600 "SYNC_LVDS_N" 670 1577 0 1 47 0 L
X "VHDL_MODE" "IN" 670 1533 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC_LVDS_N" 590 1577 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1675 "SYNC_LVDS_P" 670 1652 0 1 47 0 L
X "VHDL_MODE" "IN" 670 1608 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC_LVDS_P" 590 1652 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1225 "GT_NIM" 670 1202 0 1 47 0 L
X "VHDL_MODE" "IN" 670 1158 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT_NIM" 590 1202 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 2175 "PULSE_INV_OUT" 670 2152 0 1 47 0 L
X "VHDL_MODE" "IN" 670 2108 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "PULSE_INV_OUT" 590 2152 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1050 "RIBBON_PULSE_OUT_N" 670 1027 0 1 47 0 L
X "VHDL_MODE" "IN" 670 983 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "RIBBON_PULSE_OUT_N" 590 1027 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 1150 "RIBBON_PULSE_OUT_P" 670 1127 0 1 47 0 L
X "VHDL_MODE" "IN" 670 1083 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "RIBBON_PULSE_OUT_P" 590 1127 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 2325 "GENERIC_DELAY_OUT" 670 2302 0 1 47 0 L
X "VHDL_MODE" "IN" 670 2258 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GENERIC_DELAY_OUT" 590 2302 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 2275 "GENERIC_PULSE_OUT" 670 2252 0 1 47 0 L
X "VHDL_MODE" "IN" 670 2208 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GENERIC_PULSE_OUT" 590 2252 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -650 "TTL_TO_ECL_OUT" 670 -673 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -717 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TTL_TO_ECL_OUT" 590 -673 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -725 "LVDS_TO_ECL_OUT" 670 -748 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -792 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "LVDS_TO_ECL_OUT" 590 -748 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -775 "NIM_TO_ECL_OUT" 670 -798 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -842 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "NIM_TO_ECL_OUT" 590 -798 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -825 "ECL_TO_TTL_OUT" 670 -848 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -892 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_TTL_OUT" 590 -848 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -900 "ECL_TO_LVDS_OUT_P" 670 -923 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -967 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_LVDS_OUT_P" 590 -923 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -975 "ECL_TO_LVDS_OUT_N" 670 -998 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -1042 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_LVDS_OUT_N" 590 -998 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1050 "ECL_TO_NIM_OUT" 670 -1073 0 1 47 0 L
X "VHDL_MODE" "IN" 670 -1117 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_NIM_OUT" 590 -1073 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1125 "TTL_TO_ECL_IN" 670 -1148 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -1192 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TTL_TO_ECL_IN" 590 -1148 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1200 "LVDS_TO_ECL_IN_P" 670 -1223 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -1267 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "LVDS_TO_ECL_IN_P" 590 -1223 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1275 "LVDS_TO_ECL_IN_N" 670 -1298 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -1342 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "LVDS_TO_ECL_IN_N" 590 -1298 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1325 "NIM_TO_ECL_IN" 670 -1348 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -1392 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "NIM_TO_ECL_IN" 590 -1348 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1375 "ECL_TO_TTL_IN" 670 -1398 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -1442 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_TTL_IN" 590 -1398 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1450 "ECL_TO_LVDS_IN" 670 -1473 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -1517 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_LVDS_IN" 590 -1473 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1500 "ECL_TO_NIM_IN" 670 -1523 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -1567 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_NIM_IN" 590 -1523 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -2175 "MTCA_MIMIC2_PULSE_ANAL" 670 -2198 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -2242 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC2_PULSE_ANAL" 590 -2198 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1725 "TUB_CLK_IN_P" 670 -1748 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -1792 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TUB_CLK_IN_P" 590 -1748 0.00 0.00 47 0 0 2 0 0 1 0 99
C 650 -1800 "TUB_CLK_IN_N" 670 -1823 0 1 47 0 L
X "VHDL_MODE" "OUT" 670 -1867 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "TUB_CLK_IN_N" 590 -1823 0.00 0.00 47 0 0 2 0 0 1 0 99
L 600 2625 600 -2225 -1 16
L -600 2625 -600 -2225 -1 16
L -600 2525 600 2525 -1 16
L 650 2425 600 2425 -1 16
L 650 2325 600 2325 -1 16
L 650 2175 600 2175 -1 16
L 650 2275 600 2275 -1 16
L 650 2100 600 2100 -1 16
L 650 1800 600 1800 -1 16
L 650 1975 600 1975 -1 16
L 650 1675 600 1675 -1 16
L 650 1500 600 1500 -1 16
L 650 1375 600 1375 -1 16
L 650 1225 600 1225 -1 16
L 650 1150 600 1150 -1 16
L 650 975 600 975 -1 16
L 650 800 600 800 -1 16
L 650 750 600 750 -1 16
L 650 675 600 675 -1 16
L 650 550 600 550 -1 16
L 650 375 600 375 -1 16
L 650 250 600 250 -1 16
L 650 175 600 175 -1 16
L 650 25 600 25 -1 16
L 650 -225 600 -225 -1 16
L 650 -275 600 -275 -1 16
L 650 -400 600 -400 -1 16
L 650 -500 600 -500 -1 16
L 650 -350 600 -350 -1 16
L 650 -650 600 -650 -1 16
L 650 -725 600 -725 -1 16
L 650 -575 600 -575 -1 16
L 650 -775 600 -775 -1 16
L 650 -825 600 -825 -1 16
L 650 -900 600 -900 -1 16
L 650 -1050 600 -1050 -1 16
L 650 -1125 600 -1125 -1 16
L 650 -1200 600 -1200 -1 16
L 650 -1325 600 -1325 -1 16
L 650 -1375 600 -1375 -1 16
L 650 -1450 600 -1450 -1 16
L 650 -1500 600 -1500 -1 16
L 650 -1725 600 -1725 -1 16
L 650 -1675 600 -1675 -1 16
L 650 -1600 600 -1600 -1 16
L 650 -1875 600 -1875 -1 16
L 650 -2000 600 -2000 -1 16
L 650 -2100 600 -2100 -1 16
L 650 -2175 600 -2175 -1 16
L 650 -2050 600 -2050 -1 16
L -600 -2225 600 -2225 -1 16
L 600 2625 -600 2625 -1 16
A 625 -1800 25 0.00 359.91 74
A 625 -1275 25 0.00 359.91 74
A 625 -975 25 0.00 359.91 74
A 625 1050 25 0.00 359.91 74
A 625 1600 25 0.00 359.91 74
A 625 475 25 0.00 359.91 74
A 625 325 25 0.00 359.91 74
A 625 100 25 0.00 359.91 74
A 625 -50 25 0.00 359.91 74
A 625 -1925 25 0.00 359.91 74
A 625 900 25 0.00 359.91 74
A 625 600 25 0.00 359.91 74
A 625 1900 25 0.00 359.91 74
A 625 1750 25 0.00 359.91 74
A 625 1300 25 0.00 359.91 74
A 625 1425 25 0.00 359.91 74
T 37 2565 0.00 0.00 47 0 0 1 0 11 0
FRONT_PORTS
P "BLOCK" "TRUE" 0 10 0.00 0.00 47 0 0 1 0 0 0 0 99
