P "CDS_LMAN_SYM_OUTLINE" "-150,325,150,-200" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -150 325 -150 -200 -1 0
L -150 325 150 325 -1 0
L 150 325 150 -200 -1 0
L -150 -200 150 -200 -1 0
T 0 187 0 0 32 0 0 1 0 10 0
sy100el91l
L -125 375 -125 325 -1 0
C -125 375 "VEE" -125 400 0 1 32 1 L
X "PIN_TEXT" "VEE" -125 315 90 0 24 0 0 2 0 0 1 0 0
L -200 175 -150 175 -1 0
C -200 175 "D0" -225 175 0 1 32 0 R
X "PIN_TEXT" "D0" -140 175 0 0 24 0 0 0 0 0 1 0 0
L -200 50 -150 50 -1 0
C -200 50 "D1" -225 50 0 1 32 0 R
X "PIN_TEXT" "D1" -140 50 0 0 24 0 0 0 0 0 1 0 0
L -200 -75 -150 -75 -1 0
C -200 -75 "D2" -225 -75 0 1 32 0 R
X "PIN_TEXT" "D2" -140 -75 0 0 24 0 0 0 0 0 1 0 0
A -175 125 25 0 360 0
C -200 125 "D0*" -225 125 0 1 32 0 R
X "PIN_TEXT" "D0*" -140 125 0 0 24 0 0 0 0 0 1 0 0
A -175 0 25 0 360 0
C -200 0 "D1*" -225 0 0 1 32 0 R
X "PIN_TEXT" "D1*" -140 0 0 0 24 0 0 0 0 0 1 0 0
A -175 -125 25 0 360 0
C -200 -125 "D2*" -225 -125 0 1 32 0 R
X "PIN_TEXT" "D2*" -140 -125 0 0 24 0 0 0 0 0 1 0 0
L 200 175 150 175 -1 0
C 200 175 "Q0" 225 175 0 1 32 0 L
X "PIN_TEXT" "Q0" 140 175 0 0 24 0 0 2 0 0 1 0 0
L 200 50 150 50 -1 0
C 200 50 "Q1" 225 50 0 1 32 0 L
X "PIN_TEXT" "Q1" 140 50 0 0 24 0 0 2 0 0 1 0 0
L 200 -75 150 -75 -1 0
C 200 -75 "Q2" 225 -75 0 1 32 0 L
X "PIN_TEXT" "Q2" 140 -75 0 0 24 0 0 2 0 0 1 0 0
A 175 125 25 0 360 0
C 200 125 "Q0*" 225 125 0 1 32 0 L
X "PIN_TEXT" "Q0*" 140 125 0 0 24 0 0 2 0 0 1 0 0
A 175 0 25 0 360 0
C 200 0 "Q1*" 225 0 0 1 32 0 L
X "PIN_TEXT" "Q1*" 140 0 0 0 24 0 0 2 0 0 1 0 0
A 175 -125 25 0 360 0
C 200 -125 "Q2*" 225 -125 0 1 32 0 L
X "PIN_TEXT" "Q2*" 140 -125 0 0 24 0 0 2 0 0 1 0 0
L -50 -250 -50 -200 -1 0
C -50 -250 "PECL_VBB1" -50 -275 0 1 32 1 R
X "PIN_TEXT" "PECL_VBB1" -50 -190 90 0 24 0 0 0 0 0 1 0 0
L 50 -250 50 -200 -1 0
C 50 -250 "PECL_VBB0" 50 -275 0 1 32 1 R
X "PIN_TEXT" "PECL_VBB0" 50 -190 90 0 24 0 0 0 0 0 1 0 0
L 25 375 25 325 -1 0
C 25 375 "VCC0" 25 400 0 1 32 1 L
X "PIN_TEXT" "VCC0" 25 315 90 0 24 0 0 2 0 0 1 0 0
L -25 375 -25 325 -1 0
C -25 375 "GND0" -25 400 0 1 32 1 L
X "PIN_TEXT" "GND0" -25 315 90 0 24 0 0 2 0 0 1 0 0
L -75 375 -75 325 -1 0
C -75 375 "GND1" -75 400 0 1 32 1 L
X "PIN_TEXT" "GND1" -75 315 90 0 24 0 0 2 0 0 1 0 0
L 75 375 75 325 -1 0
C 75 375 "VCC1" 75 400 0 1 32 1 L
X "PIN_TEXT" "VCC1" 75 315 90 0 24 0 0 2 0 0 1 0 0
L 125 375 125 325 -1 0
C 125 375 "VCC2" 125 400 0 1 32 1 L
X "PIN_TEXT" "VCC2" 125 315 90 0 24 0 0 2 0 0 1 0 0


