M -8000 375 0 375 -1 1
M -8000 0 -8000 5000 -1 1
M 0 0 0 5000 -1 1
M 0 0 -8000 0 -1 1
M -8125 -125 125 -125 -1 1
M -8125 5125 -8125 -125 -1 1
M 125 5125 125 -125 -1 1
M -8000 5000 0 5000 -1 1
M -8125 5125 125 5125 -1 1
M -2500 375 -2500 0 -1 1
M -4585 64 -4587 62 -1 3
M -4587 62 -4593 71 -1 3
M -4655 98 -4603 98 -1 3
M -4605 97 -4656 97 -1 3
M -4635 142 -4523 142 -1 3
M -4641 129 -4545 129 -1 3
M -4660 89 -4637 89 -1 3
M -4637 88 -4660 88 -1 3
M -4658 61 -4655 64 -1 3
L 120 -120 -8120 -120 -1 0
L -8005 -5 5 -5 -1 0
M -4000 -125 -4000 0 -1 1
M -1000 0 -1000 -125 -1 1
M -750 0 -750 375 -1 1
L 5 5005 5 -5 -1 0
L 120 5120 120 -120 -1 0
M -7000 0 -7000 -125 -1 1
M -6000 0 -6000 -125 -1 1
M -8125 2750 -8000 2750 -1 1
M -8125 1625 -8000 1625 -1 1
L -8120 5120 -8120 -120 -1 0
L -8005 5005 -8005 -5 -1 0
M -2000 0 -2000 -125 -1 1
M 0 2750 125 2750 -1 1
M 0 1625 125 1625 -1 1
M -4000 5000 -4000 5125 -1 1
M -1000 5125 -1000 5000 -1 1
M -3000 5125 -3000 5000 -1 1
M -5000 5125 -5000 5000 -1 1
M -6000 5125 -6000 5000 -1 1
M -7000 5125 -7000 5000 -1 1
M -8125 3875 -8000 3875 -1 1
M 0 3875 125 3875 -1 1
M -2000 5125 -2000 5000 -1 1
L 120 5120 -8120 5120 -1 0
L 5 5005 -8005 5005 -1 0
M 0 150 -2500 150 -1 1
M -5450 375 -5450 0 -1 1
M -5000 0 -5000 -125 -1 1
M -3000 0 -3000 -125 -1 1
M -4345 146 -4390 146 -1 3
M -4390 147 -4345 147 -1 3
M -4486 171 -4621 171 -1 3
M -4486 171 -4534 75 -1 3
M -4481 174 -4531 75 -1 3
M -4620 174 -4481 174 -1 3
M -4480 175 -4530 75 -1 3
M -4620 175 -4480 175 -1 3
M -4484 172 -4533 75 -1 3
M -4484 172 -4621 172 -1 3
M -4482 173 -4532 75 -1 3
M -4482 173 -4621 173 -1 3
M -4574 114 -4578 105 -1 3
M -4621 171 -4620 175 -1 3
M -4522 142 -4538 108 -1 3
M -4524 141 -4522 142 -1 3
M -4574 73 -4548 127 -1 3
M -4578 112 -4594 72 -1 3
M -4576 73 -4549 126 -1 3
M -4575 73 -4547 127 -1 3
M -4557 74 -4525 141 -1 3
M -4538 108 -4549 84 -1 3
M -4556 75 -4524 141 -1 3
M -4573 115 -4591 72 -1 3
M -4576 113 -4592 72 -1 3
M -4576 113 -4592 73 -1 3
M -4578 105 -4593 72 -1 3
M -4573 73 -4545 129 -1 3
M -4522 143 -4555 73 -1 3
M -4520 144 -4553 74 -1 3
M -4523 142 -4555 74 -1 3
M -4531 75 -4521 65 -1 3
M -4530 75 -4520 65 -1 3
M -4522 63 -4520 65 -1 3
M -4534 75 -4522 63 -1 3
M -4533 75 -4522 64 -1 3
M -4549 84 -4554 74 -1 3
M -4553 74 -4544 64 -1 3
M -4544 64 -4547 62 -1 3
M -4555 73 -4547 63 -1 3
M -4547 63 -4557 74 -1 3
M -4547 62 -4557 74 -1 3
M -4555 74 -4546 64 -1 3
M -4532 75 -4522 65 -1 3
M -4564 64 -4567 62 -1 3
M -4573 73 -4564 64 -1 3
M -4567 62 -4574 70 -1 3
M -4574 70 -4576 73 -1 3
M -4566 63 -4575 73 -1 3
M -4586 63 -4593 72 -1 3
M -4587 63 -4593 72 -1 3
M -4593 72 -4587 65 -1 3
M -4592 72 -4586 64 -1 3
M -4594 72 -4589 65 -1 3
M -4591 72 -4585 64 -1 3
M -4603 98 -4615 72 -1 3
M -4616 72 -4603 98 -1 3
M -4608 62 -4616 72 -1 3
M -4608 63 -4615 72 -1 3
M -4615 72 -4601 98 -1 3
M -4607 63 -4615 72 -1 3
M -4615 72 -4603 97 -1 3
M -4609 62 -4617 72 -1 3
M -4617 72 -4604 98 -1 3
M -4600 99 -4613 72 -1 3
M -4606 63 -4609 61 -1 3
M -4609 61 -4618 72 -1 3
M -4618 72 -4605 97 -1 3
M -4613 72 -4606 63 -1 3
M -4649 114 -4574 114 -1 3
M -4641 127 -4548 127 -1 3
M -4650 112 -4578 112 -1 3
M -4638 72 -4628 97 -1 3
M -4655 99 -4600 99 -1 3
M -4642 126 -4549 126 -1 3
M -4640 128 -4546 128 -1 3
M -4525 141 -4635 141 -1 3
M -4522 143 -4635 143 -1 3
M -4633 142 -4522 143 -1 3
M -4634 144 -4520 144 -1 3
M -4650 113 -4576 113 -1 3
M -4649 115 -4573 115 -1 3
M -4649 115 -4650 112 -1 3
M -4634 144 -4635 141 -1 3
M -4642 126 -4640 129 -1 3
M -4639 72 -4629 96 -1 3
M -4657 88 -4656 89 -1 3
M -4656 97 -4655 99 -1 3
M -4631 97 -4641 72 -1 3
M -4630 97 -4640 71 -1 3
M -4642 71 -4633 62 -1 3
M -4632 63 -4641 71 -1 3
M -4640 71 -4632 63 -1 3
M -4631 64 -4639 72 -1 3
M -4633 97 -4643 71 -1 3
M -4643 71 -4633 61 -1 3
M -4630 64 -4638 72 -1 3
M -4632 97 -4642 71 -1 3
M -4641 72 -4633 63 -1 3
M -4641 71 -4630 97 -1 3
M -4658 64 -4657 63 -1 3
M -4633 63 -4632 63 -1 3
M -4633 61 -4630 64 -1 3
M -4657 87 -4664 73 -1 3
M -4664 73 -4658 62 -1 3
M -4658 88 -4664 73 -1 3
M -4665 72 -4658 88 -1 3
M -4657 62 -4665 72 -1 3
M -4660 88 -4664 72 -1 3
M -4659 62 -4666 72 -1 3
M -4666 72 -4659 88 -1 3
M -4667 72 -4660 89 -1 3
M -4658 61 -4667 72 -1 3
M -4662 72 -4655 64 -1 3
M -4655 89 -4662 72 -1 3
M -4656 63 -4663 72 -1 3
M -4663 72 -4657 88 -1 3
M -4664 72 -4658 64 -1 3
T -7900 25 0.00 0.00 41 0 0 0 0 21 0
COPYRIGHT (C) CADENCE
T -4525 -75 0.00 0.00 41 0 0 0 0 1 0
5
T -3500 -75 0.00 0.00 41 0 0 0 0 1 0
4
T -715 95 0.00 0.00 41 0 0 0 0 5 0
PAGE:
T -715 320 0.00 0.00 41 0 0 0 0 5 0
DATE:
T 50 975 0.00 0.00 41 0 0 0 0 1 0
A
T -475 -75 0.00 0.00 41 0 0 0 0 1 0
1
T -1500 -75 0.00 0.00 41 0 0 0 0 1 0
2
T -8075 975 0.00 0.00 41 0 0 0 0 1 0
A
T -8075 2175 0.00 0.00 41 0 0 0 0 1 0
B
T -8075 3300 0.00 0.00 41 0 0 0 0 1 0
C
T -6525 -75 0.00 0.00 41 0 0 0 0 1 0
7
T -7500 -75 0.00 0.00 41 0 0 0 0 1 0
8
T 50 2175 0.00 0.00 41 0 0 0 0 1 0
B
T 50 3300 0.00 0.00 41 0 0 0 0 1 0
C
T -8075 4475 0.00 0.00 41 0 0 0 0 1 0
D
T 50 4425 0.00 0.00 41 0 0 0 0 1 0
D
T -500 5050 0.00 0.00 41 0 0 0 0 1 0
1
T -2525 5050 0.00 0.00 41 0 0 0 0 1 0
3
T -3525 5050 0.00 0.00 41 0 0 0 0 1 0
4
T -4500 5050 0.00 0.00 41 0 0 0 0 1 0
5
T -5500 5050 0.00 0.00 41 0 0 0 0 1 0
6
T -6500 5050 0.00 0.00 41 0 0 0 0 1 0
7
T -7500 5050 0.00 0.00 41 0 0 0 0 1 0
8
T -1525 5050 0.00 0.00 41 0 0 0 0 1 0
2
T -7900 305 0.00 0.00 41 0 0 0 0 50 0
THIS  DOCUMENT  CONTAINS  INFORMATION  PROPRIETARY
T -7900 165 0.00 0.00 41 0 0 0 0 50 0
OR DISCLOSURE WITHOUT THE WRITTEN PERMISSION OF AN
T -5525 -75 0.00 0.00 41 0 0 0 0 1 0
6
T -2480 320 0.00 0.00 41 0 0 0 0 6 0
TITLE:
T -2465 105 0.00 0.00 41 0 0 0 0 9 0
ENGINEER:
T -2500 -75 0.00 0.00 41 0 0 0 0 1 0
3
T -7900 235 0.00 0.00 41 0 0 0 0 46 0
TO  CADENCE DESIGN SYSTEMS INC (CADENCE).  USE
T -7900 95 0.00 0.00 41 0 0 0 0 42 0
OFFICER OF CADENCE IS EXPRESSLY FORBIDDEN.
T -4800 225 0.00 0.00 59 0 0 0 0 27 68
CADENCE DESIGN SYSTEMS,INC.
T -4450 80 0.00 0.00 59 0 0 0 0 7 68
CADENCE
P "COMMENT_BODY" "TRUE" -225 -75 0.00 0.00 41 0 0 0 0 0 0 0 0
