C -175 200 "D0" -200 200 0 1 32 0 R
X "PIN_TEXT" "D0" -115 200 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 -50 "D5" -200 -50 0 1 32 0 R
X "PIN_TEXT" "D5" -115 -50 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 150 "D1" -200 150 0 1 32 0 R
X "PIN_TEXT" "D1" -115 150 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 100 "D2" -200 100 0 1 32 0 R
X "PIN_TEXT" "D2" -115 100 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 50 "D3" -200 50 0 1 32 0 R
X "PIN_TEXT" "D3" -115 50 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 0 "D4" -200 0 0 1 32 0 R
X "PIN_TEXT" "D4" -115 0 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 -100 "D6" -200 -100 0 1 32 0 R
X "PIN_TEXT" "D6" -115 -100 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 -150 "D7" -200 -150 0 1 32 0 R
X "PIN_TEXT" "D7" -115 -150 0.00 0.00 24 0 0 0 0 0 1 0 0
C -25 350 "DS" -25 375 0 1 32 1 L
X "PIN_TEXT" "DS" -25 290 90.00 0.00 24 0 0 2 0 0 1 0 0
C -25 -350 "CP" -25 -375 0 1 32 1 R
X "PIN_TEXT" "CP" -25 -290 90.00 0.00 24 0 0 0 0 0 1 0 0
C 50 -350 "CE*" 50 -375 0 1 32 1 R
X "PIN_TEXT" "CE*" 49 -290 90.00 0.00 24 0 0 0 0 0 1 0 0
C 175 -125 "Q7" 200 -125 0 1 32 0 L
X "PIN_TEXT" "Q7" 115 -124 0.00 0.00 24 0 0 2 0 0 1 0 0
C 175 -200 "Q7*" 200 -200 0 1 32 0 L
X "PIN_TEXT" "Q7*" 115 -199 0.00 0.00 24 0 0 2 0 0 1 0 0
C -175 -200 "PL*" -200 -200 0 1 32 0 R
X "PIN_TEXT" "PL*" -115 -200 0.00 0.00 24 0 0 0 0 0 1 0 0
L -125 300 -125 -300 -1 0
L 125 300 125 -300 -1 0
L -125 -300 125 -300 -1 0
L -125 300 125 300 -1 0
L 175 -125 125 -125 -1 0
L -25 -350 -25 -300 -1 0
L -25 350 -25 300 -1 0
L -175 200 -125 200 -1 0
L -175 150 -125 150 -1 0
L -175 100 -125 100 -1 0
L -175 50 -125 50 -1 0
L -175 0 -125 0 -1 0
L -175 -50 -125 -50 -1 0
L -175 -100 -125 -100 -1 0
L -175 -150 -125 -150 -1 0
A 50 -325 25 0.00 359.91 0
A 150 -200 25 0.00 359.91 0
A -150 -200 25 0.00 359.91 0
T 25 150 0.00 0.00 32 0 0 1 0 8 0
74hct165
P "CDS_LMAN_SYM_OUTLINE" "-125,300,125,-300" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
