C 150 0 "CAT\NAC" 150 10 0 0 31 0 L
C -150 0 "AN\NAC" -150 10 0 0 31 0 R
C 0 100 "REF\NAC" 25 85 0 0 31 0 L
L 100 -75 100 75 -1 0
L -100 75 -100 -75 -1 0
L -100 75 100 75 -1 0
L 100 0 150 0 -1 0
L -100 0 -150 0 -1 0
L 0 100 0 75 -1 0
L -100 -75 100 -75 -1 0
T -90 -12 0.00 0.00 24 0 0 0 0 3 0
VIN
T 0 -12 0.00 0.00 24 0 0 0 0 4 0
VOUT
T -35 40 0.00 0.00 24 0 0 0 0 3 0
GND
P "PATH" "?" -120 -112 0.00 0.00 32 0 0 0 0 0 0 0 0
P "NAME" "MC7805K_L" -120 -147 0.00 0.00 32 0 0 0 0 0 1 0 0
P "TOL_ON_OFF" "ON" -95 -190 0.00 0.00 16 0 0 0 0 0 0 0 72
P "RCA" "DEF" -95 -170 0.00 0.00 16 0 0 0 0 0 0 0 72
P "ABBREV" "MC7805K_L"  -100 200 0.00 0.00 46 0 0 0 0 0 0 0 32
P "TITLE" "MC7805K_L"  -100 200 0.00 0.00 46 0 0 0 0 0 0 0 32
