C 550 725 "SYNC24_TTL" 570 702 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 658 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC24_TTL" 490 702 0.00 0.00 47 0 0 2 0 0 1 0 99
C 550 825 "SYNC_TTL" 570 802 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 758 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC_TTL" 490 802 0.00 0.00 47 0 0 2 0 0 1 0 99
C 550 -150 "GT2_N" 570 -173 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 -217 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT2_N" 490 -173 0.00 0.00 47 0 0 2 0 0 1 0 99
C 550 -75 "GT2_P" 570 -98 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 -142 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT2_P" 490 -98 0.00 0.00 47 0 0 2 0 0 1 0 99
C 550 25 "GT_TTL" 570 2 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 -42 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT_TTL" 490 2 0.00 0.00 47 0 0 2 0 0 1 0 99
C 550 100 "GT_NIM" 570 77 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 33 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT_NIM" 490 77 0.00 0.00 47 0 0 2 0 0 1 0 99
C 550 300 "SYNC24_LVDS_P" 570 277 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 233 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC24_LVDS_P" 490 277 0.00 0.00 47 0 0 2 0 0 1 0 99
C 550 225 "SYNC24_LVDS_N" 570 202 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 158 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC24_LVDS_N" 490 202 0.00 0.00 47 0 0 2 0 0 1 0 99
C 550 525 "SYNC_LVDS_P" 570 502 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 458 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC_LVDS_P" 490 502 0.00 0.00 47 0 0 2 0 0 1 0 99
C 550 450 "SYNC_LVDS_N" 570 427 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 383 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC_LVDS_N" 490 427 0.00 0.00 47 0 0 2 0 0 1 0 99
C -750 25 "GT_N" -770 2 0 1 47 0 R
X "VHDL_MODE" "IN" -770 -42 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GT_N" -690 2 0.00 0.00 47 0 0 0 0 0 1 0 99
C -750 100 "GT_P" -770 77 0 1 47 0 R
X "VHDL_MODE" "IN" -770 33 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GT_P" -690 77 0.00 0.00 47 0 0 0 0 0 1 0 99
C -750 225 "SYNC24_N" -770 202 0 1 47 0 R
X "VHDL_MODE" "IN" -770 158 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC24_N" -690 202 0.00 0.00 47 0 0 0 0 0 1 0 99
C -750 300 "SYNC24_P" -770 277 0 1 47 0 R
X "VHDL_MODE" "IN" -770 233 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC24_P" -690 277 0.00 0.00 47 0 0 0 0 0 1 0 99
C -750 425 "SYNC_N" -770 402 0 1 47 0 R
X "VHDL_MODE" "IN" -770 358 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC_N" -690 402 0.00 0.00 47 0 0 0 0 0 1 0 99
C -750 500 "SYNC_P" -770 477 0 1 47 0 R
X "VHDL_MODE" "IN" -770 433 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC_P" -690 477 0.00 0.00 47 0 0 0 0 0 1 0 99
C 550 -25 "GT_TTL_OUT" 570 -48 0 1 47 0 L
X "VHDL_MODE" "OUT" 570 -92 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT_TTL_OUT" 490 -48 0.00 0.00 47 0 0 2 0 0 1 0 99
L 550 -25 500 -25 -1 16
L 500 1050 500 -175 -1 16
L -700 1050 -700 -175 -1 16
L -700 950 500 950 -1 16
L -750 500 -700 500 -1 16
L -750 300 -700 300 -1 16
L -750 100 -700 100 -1 16
L 550 725 500 725 -1 16
L 550 825 500 825 -1 16
L 550 25 500 25 -1 16
L 550 100 500 100 -1 16
L 550 525 500 525 -1 16
L 550 300 500 300 -1 16
L 550 -75 500 -75 -1 16
L 500 1050 -700 1050 -1 16
L -700 -175 500 -175 -1 16
A -725 425 25 0.00 359.91 74
A -725 225 25 0.00 359.91 74
A -725 25 25 0.00 359.91 74
A 525 -150 25 0.00 359.91 74
A 525 225 25 0.00 359.91 74
A 525 450 25 0.00 359.91 74
T -100 990 0.00 0.00 47 0 0 1 0 13 0
CAEN_DIG_COMS
P "BLOCK" "TRUE" 0 10 0.00 0.00 47 0 0 1 0 0 0 0 99
