C 100 0 "B <SIZE-1..0>\NAC" 100 10 0 0 31 0 L
C -100 0 "A <SIZE-1..0>\NAC" -100 10 0 0 31 0 R
L -10 20 10 -20 -1 0
L 10 -20 30 20 -1 0
L 30 20 50 -20 -1 0
L 50 -20 60 0 -1 0
L 60 0 100 0 -1 0
L -10 20 -30 -20 -1 0
L -30 -20 -50 20 -1 0
L -50 20 -60 0 -1 0
L -60 0 -100 0 -1 0
P "$LOCATION" "?" -95 -78 0.00 0.00 32 0 0 0 0 0 0 0 0
P "SIZE" "1B" -75 103 0.00 0.00 32 0 0 0 0 0 0 0 2
P "VALUE" "?" -80 63 0.00 0.00 32 0 0 0 0 0 1 0 0
P "PATH" "?" -80 23 0.00 0.00 32 0 0 0 0 0 0 0 0
P "TOL_ON_OFF" "ON" -95 -98 0.00 0.00 16 0 0 0 0 0 0 0 0
P "POSTOL" "RTOL%" -95 -118 0.00 0.00 16 0 0 0 0 0 0 0 0
P "NEGTOL" "RTOL%" -95 -138 0.00 0.00 16 0 0 0 0 0 0 0 0
P "DIST" "FLAT" -95 -158 0.00 0.00 16 0 0 0 0 0 0 0 0
P "POWER" "RMAX" -90 -178 0.00 0.00 16 0 0 0 0 0 0 0 0
P "SLOPE" "RSMAX" -90 -198 0.00 0.00 16 0 0 0 0 0 0 0 0
P "MAX_TEMP" "RTMAX" -90 -218 0.00 0.00 16 0 0 0 0 0 0 0 0
P "TC1" "RTMPL" -90 -238 0.00 0.00 16 0 0 0 0 0 0 0 0
P "TC2" "RTMPQ" -90 -258 0.00 0.00 16 0 0 0 0 0 0 0 0
P "ABBREV" "res_l"  -100 200 0.00 0.00 46 0 0 0 0 0 0 0 32
P "TITLE" "RES_L"  -100 200 0.00 0.00 46 0 0 0 0 0 0 0 32
