C -225 75 "IN-" -250 75 0 1 32 0 R
X "PIN_TEXT" "IN-" -165 75 0.00 0.00 24 0 0 0 0 0 1 0 0
C -225 -75 "IN+" -250 -75 0 1 32 0 R
X "PIN_TEXT" "IN+" -165 -74 0.00 0.00 24 0 0 0 0 0 1 0 0
C 125 0 "OUTPUT" 150 0 0 1 32 0 L
X "PIN_TEXT" "OUTPUT" 140 0 0.00 0.00 24 0 0 2 0 0 1 0 0
C 25 -75 "V-" 25 -100 0 1 32 1 R
X "PIN_TEXT" "V-" 74 -65 90.00 0.00 24 0 0 0 0 0 1 0 0
C 25 75 "V+" 25 100 0 1 32 1 L
X "PIN_TEXT" "V+" 75 90 90.00 0.00 24 0 0 2 0 0 1 0 0
L -175 -125 75 0 -1 0
L -175 -125 -175 125 -1 0
L -175 125 75 0 -1 0
L 125 0 75 0 -1 0
L -225 75 -175 75 -1 0
L -225 -75 -175 -75 -1 0
L 25 -75 25 -25 -1 0
L 25 75 25 25 -1 0
T 0 83 0.00 0.00 32 0 0 1 0 6 0
lm7171
P "CDS_LMAN_SYM_OUTLINE" "-175,125,75,-125" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
