C -150 -50 "IN+" -175 -50 0 1 29 0 R
X "PIN_TEXT" "+" -115 -50 0.00 0.00 29 0 0 0 0 0 1 0 0
C -150 50 "IN-" -175 50 0 1 29 0 R
X "PIN_TEXT" "-" -115 25 0.00 0.00 29 0 0 0 0 0 1 0 0
C 50 0 "OUT" 75 0 0 1 29 0 L
C 0 -125 "VCC-" 0 -125 0 1 29 1 R
X "PIN_TEXT" "-" -25 -65 90.00 0.00 23 0 0 0 0 0 1 0 0
C -75 -75 "BAL2" -75 -100 0 1 29 1 R
X "PIN_TEXT" "BAL2" -75 -15 90.00 0.00 23 0 0 0 0 0 1 0 0
C 0 125 "VCC+" 0 125 0 1 29 1 L
X "PIN_TEXT" "+" -25 65 90.00 0.00 23 0 0 2 0 0 1 0 0
C -75 75 "BAL1" -75 100 0 1 29 1 L
X "PIN_TEXT" "BAL1" -75 15 90.00 0.00 23 0 0 2 0 0 1 0 0
L -75 75 -75 50 -1 0
L 0 75 -25 25 -1 16
L 0 125 0 75 -1 0
L 25 0 -125 75 -1 16
L 50 0 25 0 -1 0
L -150 -50 -125 -50 -1 0
L -150 50 -125 50 -1 0
L -75 -75 -75 -50 -1 0
L 0 -75 -25 -25 -1 16
L -125 -75 -125 75 -1 0
L 25 0 -125 -75 -1 16
L 0 -125 0 -75 -1 0
P "CDS_LMAN_SYM_OUTLINE" "-125,125,25,-125" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
