C -75 -300 "LE*" -75 -325 0 1 32 1 R
X "PIN_TEXT" "LE*" -75 -240 90.00 0.00 24 0 0 0 0 0 1 0 0
C 225 100 "OUT" 250 100 0 1 32 0 L
X "PIN_TEXT" "OUT" 165 100 0.00 0.00 24 0 0 2 0 0 1 0 0
C 225 50 "PWM" 250 50 0 1 32 0 L
X "PIN_TEXT" "PWM" 165 50 0.00 0.00 24 0 0 2 0 0 1 0 0
C 125 -250 "PS" 125 -275 0 1 32 1 R
X "PIN_TEXT" "PS" 124 -190 90.00 0.00 24 0 0 0 0 0 1 0 0
C 50 -250 "MS" 50 -275 0 1 32 1 R
X "PIN_TEXT" "MS" 50 -190 90.00 0.00 24 0 0 0 0 0 1 0 0
C -225 -125 "P5" -250 -125 0 1 32 0 R
X "PIN_TEXT" "P5" -165 -125 0.00 0.00 24 0 0 0 0 0 1 0 0
C -225 -175 "P6" -250 -175 0 1 32 0 R
X "PIN_TEXT" "P6" -165 -174 0.00 0.00 24 0 0 0 0 0 1 0 0
C -225 -225 "P7" -250 -225 0 1 32 0 R
X "PIN_TEXT" "P7" -165 -225 0.00 0.00 24 0 0 0 0 0 1 0 0
C -225 25 "D/P2" -250 25 0 1 32 0 R
X "PIN_TEXT" "D/P2" -165 24 0.00 0.00 24 0 0 0 0 0 1 0 0
C -225 75 "CLK/P1" -250 75 0 1 32 0 R
X "PIN_TEXT" "CLK/P1" -165 74 0.00 0.00 24 0 0 0 0 0 1 0 0
C -225 -25 "P3" -250 -25 0 1 32 0 R
X "PIN_TEXT" "P3" -165 -26 0.00 0.00 24 0 0 0 0 0 1 0 0
C -225 -75 "P4" -250 -75 0 1 32 0 R
X "PIN_TEXT" "P4" -165 -74 0.00 0.00 24 0 0 0 0 0 1 0 0
C -225 125 "Q/P0" -250 125 0 1 32 0 R
X "PIN_TEXT" "Q/P0" -165 125 0.00 0.00 24 0 0 0 0 0 1 0 0
C -225 225 "IN" -250 225 0 1 32 0 R
X "PIN_TEXT" "IN" -165 225 0.00 0.00 24 0 0 0 0 0 1 0 0
L -175 250 -175 -250 -1 0
L -175 250 175 250 -1 0
L 175 -250 -175 -250 -1 0
L 175 250 175 -250 -1 0
L -225 125 -175 125 -1 0
L -225 25 -175 25 -1 0
L -225 -25 -175 -25 -1 0
L 225 100 175 100 -1 0
L 225 50 175 50 -1 0
L 125 -250 125 -200 -1 0
L 50 -250 50 -200 -1 0
L -225 225 -175 225 -1 0
L -225 75 -175 75 -1 0
L -225 -75 -175 -75 -1 0
L -225 -125 -175 -125 -1 0
L -225 -175 -175 -175 -1 0
L -225 -225 -175 -225 -1 0
A -75 -275 25 0.00 359.91 0
T 0 8 0.00 0.00 32 0 0 1 0 9 0
ds1023500
P "CDS_LMAN_SYM_OUTLINE" "-175,250,175,-250" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
