C 150 0 "OUTPUT\NAC" 150 10 0 0 31 0 L
C -250 0 "INPUT\NAC" -250 10 0 0 31 0 R
C -50 -150 "GROUND\NAC" -175 -190 0 0 31 0 L
L -50 -100 -50 -150 -1 0
L -200 -100 100 -100 -1 0
L -200 100 100 100 -1 0
L -200 -100 -200 100 -1 0
L 100 100 100 -100 -1 0
L -200 0 -250 0 -1 0
L 100 0 150 0 -1 0
T -80 -90 0.00 0.00 24 0 0 0 0 3 0
GND
T -190 -12 0.00 0.00 24 0 0 0 0 3 0
VIN
T 0 -12 0.00 0.00 24 0 0 0 0 4 0
VOUT
P "NAME" "7806" -130 118 0.00 0.00 32 0 0 0 0 0 1 0 0
P "RCA" "DEF" -175 220 0.00 0.00 16 0 0 0 0 0 0 0 72
P "TOL_ON_OFF" "ON" -175 200 0.00 0.00 16 0 0 0 0 0 0 0 72
P "PATH" "?" -180 128 0.00 0.00 32 0 0 0 0 0 0 0 0
P "ABBREV" "MC7806K"  -100 200 0.00 0.00 46 0 0 0 0 0 0 0 32
P "TITLE" "MC7806K"  -100 200 0.00 0.00 46 0 0 0 0 0 0 0 32
