C -100 0 "B <SIZE-1..0>\NAC" -100 10 0 1 31 0 R
C 100 0 "A <SIZE-1..0>\NAC" 100 10 0 1 31 0 L
P "$LOCATION" "?" -95 -73 0.00 0.00 32 0 0 0 0 0 0 0 0
P "SIZE" "1B" -80 108 0.00 0.00 32 0 0 0 0 0 0 0 2
P "VALUE" "?" -80 68 0.00 0.00 32 0 0 0 0 0 1 0 0
P "PATH" "?" -80 28 0.00 0.00 32 0 0 0 0 0 0 0 0
P "IC" "UNDEF" -95 -93 0.00 0.00 16 0 0 0 0 0 0 0 0
P "TOL_ON_OFF" "ON" -95 -113 0.00 0.00 16 0 0 0 0 0 0 0 0
P "POSTOL" "CTOL%" -95 -133 0.00 0.00 16 0 0 0 0 0 0 0 0
P "NEGTOL" "CTOL%" -95 -153 0.00 0.00 16 0 0 0 0 0 0 0 0
P "DIST" "FLAT" -90 -173 0.00 0.00 16 0 0 0 0 0 0 0 0
P "VOLTAGE" "CMAX" -90 -193 0.00 0.00 16 0 0 0 0 0 0 0 0
P "SLOPE" "CSMAX" -90 -213 0.00 0.00 16 0 0 0 0 0 0 0 0
P "KNEE" "CBMAX" -90 -233 0.00 0.00 16 0 0 0 0 0 0 0 0
P "MAX_TEMP" "CTMAX" -90 -253 0.00 0.00 16 0 0 0 0 0 0 0 0
P "TC" "0" -85 -273 0.00 0.00 16 0 0 0 0 0 0 0 0
P "CURRENT" "CIMAX" -85 -293 0.00 0.00 16 0 0 0 0 0 0 0 0
A -40 0 32 308.67 51.33 0
L -100 0 -10 0 -1 0
L 15 0 100 0 -1 0
L 15 -25 15 25 -1 0
P "ABBREV" "capacitor"  -100 200 0.00 0.00 46 0 0 0 0 0 0 0 32
P "TITLE" "CAPACITOR"  -100 200 0.00 0.00 46 0 0 0 0 0 0 0 32
