C -1300 2150 "PULSE_INV_IN" -1320 2127 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 2083 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "PULSE_INV_IN" -1240 2127 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 625 "MTCD_LO*" -1320 602 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 558 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "MTCD_LO*" -1240 602 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 700 "SCOPE_OUT_ANAL<0..7>" -1320 677 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 633 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SCOPE_OUT_ANAL<0..7>" -1240 677 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 750 "CAEN_OUT_ANAL<0..7>" -1320 727 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 683 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "CAEN_OUT_ANAL<0..7>" -1240 727 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 825 "PULSE_IN_ANAL<0..11>" -1320 802 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 758 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "PULSE_IN_ANAL<0..11>" -1240 802 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -575 "TELLIE_PULSE_OUT" -1320 -598 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -642 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "TELLIE_PULSE_OUT" -1240 -598 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -500 "SMELLIE_PULSE_OUT" -1320 -523 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -567 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SMELLIE_PULSE_OUT" -1240 -523 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -400 "TELLIE_DELAY_OUT" -1320 -423 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -467 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "TELLIE_DELAY_OUT" -1240 -423 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -350 "TELLIE_DELAY_IN" -1320 -373 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -417 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "TELLIE_DELAY_IN" -1240 -373 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -225 "SMELLIE_DELAY_IN" -1320 -248 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -292 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SMELLIE_DELAY_IN" -1240 -248 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1875 "CLK100_N" -1320 -1898 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -1942 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "CLK100_N" -1240 -1898 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1800 "CLK100_P" -1320 -1823 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -1867 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "CLK100_P" -1240 -1823 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1600 "SCALER<1..6>" -1320 -1623 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -1667 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SCALER<1..6>" -1240 -1623 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1475 "SYNC24_LVDS_N" -1320 1452 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 1408 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC24_LVDS_N" -1240 1452 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1525 "SYNC24_LVDS_P" -1320 1502 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 1458 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC24_LVDS_P" -1240 1502 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1400 "GT_P" -1320 1377 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 1333 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GT_P" -1240 1377 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1325 "GT_N" -1320 1302 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 1258 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GT_N" -1240 1302 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1250 "GT_NIM" -1320 1227 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 1183 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GT_NIM" -1240 1227 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1150 "RIBBON_PULSE_OUT_P" -1320 1127 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 1083 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "RIBBON_PULSE_OUT_P" -1240 1127 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1100 "RIBBON_PULSE_OUT_N" -1320 1077 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 1033 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "RIBBON_PULSE_OUT_N" -1240 1077 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1025 "RIBBON_PULSE_IN_P" -1320 1002 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 958 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "RIBBON_PULSE_IN_P" -1240 1002 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 950 "RIBBON_PULSE_IN_N" -1320 927 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 883 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "RIBBON_PULSE_IN_N" -1240 927 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1600 "SYNC_LVDS_N" -1320 1577 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 1533 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC_LVDS_N" -1240 1577 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1675 "SYNC_LVDS_P" -1320 1652 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 1608 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC_LVDS_P" -1240 1652 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 2275 "GENERIC_PULSE_OUT" -1320 2252 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 2208 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GENERIC_PULSE_OUT" -1240 2252 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 2325 "GENERIC_DELAY_OUT" -1320 2302 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 2258 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GENERIC_DELAY_OUT" -1240 2302 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 2200 "PULSE_INV_OUT" -1320 2177 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 2133 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "PULSE_INV_OUT" -1240 2177 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1750 "TUB_CLK_IN" -1320 -1773 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -1817 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "TUB_CLK_IN" -1240 -1773 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1675 "EXT_PED_IN" -1320 -1698 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -1742 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "EXT_PED_IN" -1240 -1698 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1750 "SYNC24_N" -1320 1727 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 1683 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC24_N" -1240 1727 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1825 "SYNC24_P" -1320 1802 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 1758 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC24_P" -1240 1802 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1900 "SYNC_N" -1320 1877 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 1833 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC_N" -1240 1877 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 1975 "SYNC_P" -1320 1952 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 1908 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC_P" -1240 1952 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 2400 "GENERIC_DELAY_IN" -1320 2377 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 2333 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GENERIC_DELAY_IN" -1240 2377 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -275 "SMELLIE_DELAY_OUT" -1320 -298 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -342 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SMELLIE_DELAY_OUT" -1240 -298 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -50 "MTCA_MIMIC2_OUT_N" -1320 -73 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -117 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC2_OUT_N" -1240 -73 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 25 "MTCA_MIMIC2_OUT_P" -1320 2 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -42 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC2_OUT_P" -1240 2 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 100 "MTCA_MIMIC1_OUT_N" -1320 77 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 33 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC1_OUT_N" -1240 77 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -700 "TTL_TO_ECL_OUT" -1320 -723 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -767 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "TTL_TO_ECL_OUT" -1240 -723 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -750 "LVDS_TO_ECL_OUT" -1320 -773 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -817 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LVDS_TO_ECL_OUT" -1240 -773 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -800 "NIM_TO_ECL_OUT" -1320 -823 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -867 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "NIM_TO_ECL_OUT" -1240 -823 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -850 "ECL_TO_TTL_OUT" -1320 -873 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -917 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_TTL_OUT" -1240 -873 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -925 "ECL_TO_LVDS_OUT_P" -1320 -948 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -992 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_LVDS_OUT_P" -1240 -948 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -975 "ECL_TO_LVDS_OUT_N" -1320 -998 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -1042 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_LVDS_OUT_N" -1240 -998 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1050 "ECL_TO_NIM_OUT" -1320 -1073 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -1117 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_NIM_OUT" -1240 -1073 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1100 "TTL_TO_ECL_IN" -1320 -1123 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -1167 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "TTL_TO_ECL_IN" -1240 -1123 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1175 "LVDS_TO_ECL_IN_P" -1320 -1198 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -1242 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LVDS_TO_ECL_IN_P" -1240 -1198 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1250 "LVDS_TO_ECL_IN_N" -1320 -1273 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -1317 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LVDS_TO_ECL_IN_N" -1240 -1273 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1325 "NIM_TO_ECL_IN" -1320 -1348 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -1392 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "NIM_TO_ECL_IN" -1240 -1348 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1400 "ECL_TO_TTL_IN" -1320 -1423 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -1467 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_TTL_IN" -1240 -1423 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1450 "ECL_TO_LVDS_IN" -1320 -1473 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -1517 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_LVDS_IN" -1240 -1473 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1500 "ECL_TO_NIM_IN" -1320 -1523 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -1567 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "ECL_TO_NIM_IN" -1240 -1523 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 175 "MTCA_MIMIC1_OUT_P" -1320 152 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 108 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC1_OUT_P" -1240 152 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 250 "EXT_PED_OUT" -1320 227 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 183 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "EXT_PED_OUT" -1240 227 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 325 "LO_STAR_OUT_N" -1320 302 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 258 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LO_STAR_OUT_N" -1240 302 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 400 "LO_STAR_OUT_P" -1320 377 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 333 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LO_STAR_OUT_P" -1240 377 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 475 "DGT_N" -1320 452 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 408 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "DGT_N" -1240 452 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 550 "DGT_P" -1320 527 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 483 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "DGT_P" -1240 527 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -1950 "TUBII_RT_OUT" -1320 -1973 0 1 47 0 R
X "VHDL_MODE" "OUT" -1320 -2017 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "TUBII_RT_OUT" -1240 -1973 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -2175 "MTCA_MIMI2_PULSE_ANAL" -1320 -2198 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -2242 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMI2_PULSE_ANAL" -1240 -2198 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -2125 "MTCA_MIMIC1_PULSE_ANAL" -1320 -2148 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -2192 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "MTCA_MIMIC1_PULSE_ANAL" -1240 -2148 0.00 0.00 47 0 0 0 0 0 1 0 99
C -1300 -2025 "EXT_TRIG_IN<0..15>" -1320 -2048 0 1 47 0 R
X "VHDL_MODE" "IN" -1320 -2092 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "EXT_TRIG_IN<0..15>" -1240 -2048 0.00 0.00 47 0 0 0 0 0 1 0 99
L -1300 -2025 -1250 -2025 -1 16
L -1250 2575 -1250 -2225 -1 16
L -1300 -2125 -1250 -2125 -1 16
L -1300 -2175 -1250 -2175 -1 16
L -1300 -1950 -1250 -1950 -1 16
L 1250 2575 1250 -2225 -1 16
L -1250 2475 1250 2475 -1 16
L -1300 2400 -1250 2400 -1 16
L -1300 2200 -1250 2200 -1 16
L -1300 2325 -1250 2325 -1 16
L -1300 2275 -1250 2275 -1 16
L -1300 2150 -1250 2150 -1 16
L -1300 1975 -1250 1975 -1 16
L -1300 1825 -1250 1825 -1 16
L -1300 1675 -1250 1675 -1 16
L -1300 1025 -1250 1025 -1 16
L -1300 1150 -1250 1150 -1 16
L -1300 1250 -1250 1250 -1 16
L -1300 1400 -1250 1400 -1 16
L -1300 1525 -1250 1525 -1 16
L -1300 550 -1250 550 -1 16
L -1300 825 -1250 825 -1 16
L -1300 750 -1250 750 -1 16
L -1300 700 -1250 700 -1 16
L -1300 400 -1250 400 -1 16
L -1300 250 -1250 250 -1 16
L -1300 175 -1250 175 -1 16
L -1300 25 -1250 25 -1 16
L -1300 -275 -1250 -275 -1 16
L -1300 -225 -1250 -225 -1 16
L -1300 -350 -1250 -350 -1 16
L -1300 -400 -1250 -400 -1 16
L -1300 -500 -1250 -500 -1 16
L -1300 -925 -1250 -925 -1 16
L -1300 -850 -1250 -850 -1 16
L -1300 -800 -1250 -800 -1 16
L -1300 -750 -1250 -750 -1 16
L -1300 -700 -1250 -700 -1 16
L -1300 -575 -1250 -575 -1 16
L -1300 -1450 -1250 -1450 -1 16
L -1300 -1400 -1250 -1400 -1 16
L -1300 -1325 -1250 -1325 -1 16
L -1300 -1175 -1250 -1175 -1 16
L -1300 -1100 -1250 -1100 -1 16
L -1300 -1050 -1250 -1050 -1 16
L -1300 -1500 -1250 -1500 -1 16
L -1300 -1675 -1250 -1675 -1 16
L -1300 -1750 -1250 -1750 -1 16
L -1300 -1600 -1250 -1600 -1 16
L -1300 -1800 -1250 -1800 -1 16
L -1250 -2225 1250 -2225 -1 16
L 1250 2575 -1250 2575 -1 16
A -1275 475 25 0.00 359.91 74
A -1275 325 25 0.00 359.91 74
A -1275 -1250 25 0.00 359.91 74
A -1275 -975 25 0.00 359.91 74
A -1275 100 25 0.00 359.91 74
A -1275 -50 25 0.00 359.91 74
A -1275 1900 25 0.00 359.91 74
A -1275 1750 25 0.00 359.91 74
A -1275 1600 25 0.00 359.91 74
A -1275 950 25 0.00 359.91 74
A -1275 1100 25 0.00 359.91 74
A -1275 1325 25 0.00 359.91 74
A -1275 1475 25 0.00 359.91 74
A -1275 -1875 25 0.00 359.91 74
A -1275 625 25 0.00 359.91 74
T -25 2515 0.00 0.00 47 0 0 1 0 9 0
TUBII_PCB
P "BLOCK" "TRUE" 0 10 0.00 0.00 47 0 0 1 0 0 0 0 99
