P "COMMENT_BODY" "TRUE" -1825 -75   0.00   0.00    41 0 0 0 0 0 0 0 74
T -2100   509   0.00   0.00    66 0 0 0 0  26 74
UNIVERSITY OF PENNSYLVANIA
T -1871   412   0.00   0.00    66 0 0 0 0  19 74
HIGH ENERGY PHYSICS
A -2964   400   358 296.54   0.00 0
A -2644   400   360 180.00 243.46 0
L  -2804    300  -2684    180      -1 8
L  -2924    180  -2804    300      -1 8
L  -2804    400  -2644    240      -1 8
L  -2804    400  -2964    240      -1 8
A -2714   260    20   0.00 359.91 0
A -2804   340    20   0.00 359.91 0
A -2894   260    20   0.00 359.91 0
L  -3004    500  -3004    400      -1 2
L  -2604    500  -3004    500      -1 2
L  -2605    398  -2605    500      -1 2
L  -3004    407  -2605    407      -1 2
L  -2899    422  -2980    422      -1 2
L  -2980    422  -2980    485      -1 2
L  -2899    485  -2980    485      -1 2
L  -2974    485  -2974    425      -1 2
L  -2974    425  -2899    425      -1 2
L  -2938    485  -2938    422      -1 2
L  -2623    422  -2704    422      -1 2
L  -2704    422  -2704    485      -1 2
L  -2623    485  -2704    485      -1 2
L  -2698    485  -2698    425      -1 2
L  -2698    425  -2623    425      -1 2
L  -2662    485  -2662    422      -1 2
L  -2899    485  -2899    422      -1 2
L  -2623    485  -2623    422      -1 2
A -2848   461     3   0.00 359.91 0
L  -2860    440  -2851    446      -1 2
L  -2857    436  -2837    446      -1 2
L  -2857    436  -2867    446      -1 2
L  -2807    446  -2837    446      -1 2
L  -2787    429  -2807    446      -1 2
L  -2777    429  -2787    429      -1 2
L  -2727    476  -2757    436      -1 2
L  -2757    436  -2777    429      -1 2
L  -2747    466  -2727    476      -1 2
L  -2767    476  -2747    466      -1 2
L  -2757    456  -2767    476      -1 2
L  -2767    446  -2757    456      -1 2
L  -2767    446  -2777    446      -1 2
L  -2797    476  -2777    446      -1 2
L  -2827    486  -2797    476      -1 2
L  -2857    456  -2857    473      -1 2
L  -2867    446  -2857    456      -1 2
L  -2857    473  -2827    486      -1 2
M  -3105    600      0    600      -1 74
M  -3105      5  -3105    600      -1 74
M  -8125   5125    125   5125      -1 74
M    125   5125    125   -125      -1 74
M    125   -125  -8125   -125      -1 74
M  -8125   -125  -8125   5125      -1 74
M      0   5000      0      0      -1 74
M      0      0  -8000      0      -1 74
M  -8000      0  -8000   5000      -1 74
M  -8000   5000      0   5000      -1 74
M  -2500    375      0    375      -1 74
M      0    150  -2500    150      -1 74
M  -4000   -125  -4000      0      -1 74
M  -4000   5000  -4000   5125      -1 74
M  -7000      0  -7000   -125      -1 74
M  -6000      0  -6000   -125      -1 74
M  -5000      0  -5000   -125      -1 74
M  -3000      0  -3000   -125      -1 74
M  -2000      0  -2000   -125      -1 74
M  -1000      0  -1000   -125      -1 74
M  -1000   5125  -1000   5000      -1 74
M  -2000   5125  -2000   5000      -1 74
M  -3000   5125  -3000   5000      -1 74
M  -5000   5125  -5000   5000      -1 74
M  -6000   5125  -6000   5000      -1 74
M  -7000   5125  -7000   5000      -1 74
M      0   2750    125   2750      -1 74
M  -8125   2750  -8000   2750      -1 74
M  -8125   3875  -8000   3875      -1 74
M  -8125   1625  -8000   1625      -1 74
M      0   1625    125   1625      -1 74
M      0   3875    125   3875      -1 74
M   -750      0   -750    375      -1 74
T  -715    95   0.00   0.00    41 0 0 0 0   5 74
PAGE:
T  -715   320   0.00   0.00    41 0 0 0 0   5 74
DATE:
T -2480   320   0.00   0.00    41 0 0 0 0   6 74
TITLE:
T -2465   105   0.00   0.00    41 0 0 0 0   9 74
ENGINEER:
L      5   5005      5     -5      -1 74
L    120   5120    120   -120      -1 74
L    120   5120  -8120   5120      -1 74
L      5   5005  -8005   5005      -1 74
L  -8120   5120  -8120   -120      -1 74
L  -8005   5005  -8005     -5      -1 74
L    120   -120  -8120   -120      -1 74
L  -8005     -5      5     -5      -1 74
T -8075   975   0.00   0.00    41 0 0 0 0   1 74
A
T    50   975   0.00   0.00    41 0 0 0 0   1 74
A
T -8075  2175   0.00   0.00    41 0 0 0 0   1 74
B
T    50  2175   0.00   0.00    41 0 0 0 0   1 74
B
T -8075  3300   0.00   0.00    41 0 0 0 0   1 74
C
T    50  3300   0.00   0.00    41 0 0 0 0   1 74
C
T -8075  4475   0.00   0.00    41 0 0 0 0   1 74
D
T    50  4425   0.00   0.00    41 0 0 0 0   1 74
D
T  -475   -75   0.00   0.00    41 0 0 0 0   1 74
1
T  -500  5050   0.00   0.00    41 0 0 0 0   1 74
1
T -1525  5050   0.00   0.00    41 0 0 0 0   1 74
2
T -1500   -75   0.00   0.00    41 0 0 0 0   1 74
2
T -2500   -75   0.00   0.00    41 0 0 0 0   1 74
3
T -2525  5050   0.00   0.00    41 0 0 0 0   1 74
3
T -3525  5050   0.00   0.00    41 0 0 0 0   1 74
4
T -3500   -75   0.00   0.00    41 0 0 0 0   1 74
4
T -4525   -75   0.00   0.00    41 0 0 0 0   1 74
5
T -4500  5050   0.00   0.00    41 0 0 0 0   1 74
5
T -5500  5050   0.00   0.00    41 0 0 0 0   1 74
6
T -5525   -75   0.00   0.00    41 0 0 0 0   1 74
6
T -6525   -75   0.00   0.00    41 0 0 0 0   1 74
7
T -6500  5050   0.00   0.00    41 0 0 0 0   1 74
7
T -7500  5050   0.00   0.00    41 0 0 0 0   1 74
8
T -7500   -75   0.00   0.00    41 0 0 0 0   1 74
8
M  -2500    600  -2500      0      -1 74
