P "CDS_LMAN_SYM_OUTLINE" "-125,125,125,-125" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -125 125 -125 -125 -1 0
L -125 125 125 125 -1 0
L 125 125 125 -125 -1 0
L -125 -125 125 -125 -1 0
T 0 83 0 0 32 0 0 1 0 8 0
ss12sdp2
L -175 0 -125 0 -1 0
C -175 0 "P" -200 0 0 1 32 0 R
X "PIN_TEXT" "P" -115 0 0 0 24 0 0 0 0 0 1 0 0
L 175 50 125 50 -1 0
C 175 50 "T_A" 200 50 0 1 32 0 L
X "PIN_TEXT" "T_A" 115 50 0 0 24 0 0 2 0 0 1 0 0
L 175 -50 125 -50 -1 0
C 175 -50 "T_B" 200 -50 0 1 32 0 L
X "PIN_TEXT" "T_B" 115 -50 0 0 24 0 0 2 0 0 1 0 0


