C 0 350 "GND2" 0 375 0 1 32 1 L
X "PIN_TEXT" "GND2" 0 290 90.00 0.00 24 0 0 2 0 0 1 0 0
C -50 350 "GND1" -50 375 0 1 32 1 L
X "PIN_TEXT" "GND1" -50 290 90.00 0.00 24 0 0 2 0 0 1 0 0
C -100 350 "VEE" -100 375 0 1 32 1 L
X "PIN_TEXT" "VEE" -100 290 90.00 0.00 24 0 0 2 0 0 1 0 0
C -25 -225 "VBB" -25 -250 0 1 32 1 R
X "PIN_TEXT" "VBB" -25 -165 90.00 0.00 24 0 0 0 0 0 1 0 0
C 175 -125 "Q3*" 200 -125 0 1 32 0 L
X "PIN_TEXT" "Q3*" 115 -125 0.00 0.00 24 0 0 2 0 0 1 0 0
C 175 0 "Q2*" 200 0 0 1 32 0 L
X "PIN_TEXT" "Q2*" 115 0 0.00 0.00 24 0 0 2 0 0 1 0 0
C 175 100 "Q1*" 200 100 0 1 32 0 L
X "PIN_TEXT" "Q1*" 115 100 0.00 0.00 24 0 0 2 0 0 1 0 0
C 175 -75 "Q3" 200 -75 0 1 32 0 L
X "PIN_TEXT" "Q3" 115 -75 0.00 0.00 24 0 0 2 0 0 1 0 0
C 175 50 "Q2" 200 50 0 1 32 0 L
X "PIN_TEXT" "Q2" 115 50 0.00 0.00 24 0 0 2 0 0 1 0 0
C 175 150 "Q1" 200 150 0 1 32 0 L
X "PIN_TEXT" "Q1" 115 150 0.00 0.00 24 0 0 2 0 0 1 0 0
C -175 -125 "D3*" -200 -125 0 1 32 0 R
X "PIN_TEXT" "D3*" -115 -125 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 0 "D2*" -200 0 0 1 32 0 R
X "PIN_TEXT" "D2*" -115 0 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 100 "D1*" -200 100 0 1 32 0 R
X "PIN_TEXT" "D1*" -115 100 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 -75 "D3" -200 -75 0 1 32 0 R
X "PIN_TEXT" "D3" -115 -75 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 50 "D2" -200 50 0 1 32 0 R
X "PIN_TEXT" "D2" -115 50 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 150 "D1" -200 150 0 1 32 0 R
X "PIN_TEXT" "D1" -115 150 0.00 0.00 24 0 0 0 0 0 1 0 0
L 125 300 -125 300 -1 0
L 125 -175 125 300 -1 0
L -125 -175 -125 300 -1 0
L 125 -175 -125 -175 -1 0
L -100 350 -100 300 -1 0
L -25 -225 -25 -175 -1 0
L 175 150 125 150 -1 0
L 175 50 125 50 -1 0
L 175 -75 125 -75 -1 0
L 0 350 0 300 -1 0
L -50 350 -50 300 -1 0
L -175 150 -125 150 -1 0
L -175 50 -125 50 -1 0
L -175 -75 -125 -75 -1 0
A 150 -125 25 0.00 359.91 0
A 150 0 25 0.00 359.91 0
A 150 100 25 0.00 359.91 0
A -150 -125 25 0.00 359.91 0
A -150 0 25 0.00 359.91 0
A -150 100 25 0.00 359.91 0
T 0 171 0.00 0.00 32 0 0 1 0 8 0
mc10h116
P "CDS_LMAN_SYM_OUTLINE" "-125,300,125,-175" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
