C 500 -175 "CAEN_OUT_ANAL<0..7>" 520 -198 0 1 47 0 L
X "VHDL_MODE" "OUT" 520 -242 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "CAEN_OUT_ANAL<0..7>" 440 -198 0.00 0.00 47 0 0 2 0 0 1 0 99
C -600 550 "SYNC_P" -620 527 0 1 47 0 R
X "VHDL_MODE" "IN" -620 483 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC_P" -540 527 0.00 0.00 47 0 0 0 0 0 1 0 99
C -600 500 "SYNC_N" -620 477 0 1 47 0 R
X "VHDL_MODE" "IN" -620 433 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC_N" -540 477 0.00 0.00 47 0 0 0 0 0 1 0 99
C -600 375 "SYNC24_P" -620 352 0 1 47 0 R
X "VHDL_MODE" "IN" -620 308 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC24_P" -540 352 0.00 0.00 47 0 0 0 0 0 1 0 99
C -600 175 "GT_P" -620 152 0 1 47 0 R
X "VHDL_MODE" "IN" -620 108 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GT_P" -540 152 0.00 0.00 47 0 0 0 0 0 1 0 99
C -600 100 "GT_N" -620 77 0 1 47 0 R
X "VHDL_MODE" "IN" -620 33 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "GT_N" -540 77 0.00 0.00 47 0 0 0 0 0 1 0 99
C -600 325 "SYNC24_N" -620 302 0 1 47 0 R
X "VHDL_MODE" "IN" -620 258 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "SYNC24_N" -540 302 0.00 0.00 47 0 0 0 0 0 1 0 99
C -600 -25 "PULSE_IN_ANAL<0..11>" -620 -48 0 1 47 0 R
X "VHDL_MODE" "IN" -620 -92 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "PULSE_IN_ANAL<0..11>" -540 -48 0.00 0.00 47 0 0 0 0 0 1 0 99
C -600 -125 "DATA" -620 -148 0 1 47 0 R
X "VHDL_MODE" "IN" -620 -192 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "DATA" -540 -148 0.00 0.00 47 0 0 0 0 0 1 0 99
C -600 -175 "CLK" -620 -198 0 1 47 0 R
X "VHDL_MODE" "IN" -620 -242 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "CLK" -540 -198 0.00 0.00 47 0 0 0 0 0 1 0 99
C -600 -225 "LE" -620 -248 0 1 47 0 R
X "VHDL_MODE" "IN" -620 -292 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "LE" -540 -248 0.00 0.00 47 0 0 0 0 0 1 0 99
C -600 -300 "DATA_RDY" -620 -323 0 1 47 0 R
X "VHDL_MODE" "IN" -620 -367 0.00 0.00 47 0 0 2 0 0 1 0 99
X "PIN_TEXT" "DATA_RDY" -540 -323 0.00 0.00 47 0 0 0 0 0 1 0 99
C 500 500 "SYNC_LVDS_P" 520 477 0 1 47 0 L
X "VHDL_MODE" "OUT" 520 433 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC_LVDS_P" 440 477 0.00 0.00 47 0 0 2 0 0 1 0 99
C 500 425 "SYNC_LVDS_N" 520 402 0 1 47 0 L
X "VHDL_MODE" "OUT" 520 358 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC_LVDS_N" 440 402 0.00 0.00 47 0 0 2 0 0 1 0 99
C 500 325 "SYNC24_LVDS_P" 520 302 0 1 47 0 L
X "VHDL_MODE" "OUT" 520 258 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC24_LVDS_P" 440 302 0.00 0.00 47 0 0 2 0 0 1 0 99
C 500 275 "SYNC24_LVDS_N" 520 252 0 1 47 0 L
X "VHDL_MODE" "OUT" 520 208 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SYNC24_LVDS_N" 440 252 0.00 0.00 47 0 0 2 0 0 1 0 99
C 500 -125 "SCOPE_OUT_ANAL<0..7>" 520 -148 0 1 47 0 L
X "VHDL_MODE" "OUT" 520 -192 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "SCOPE_OUT_ANAL<0..7>" 440 -148 0.00 0.00 47 0 0 2 0 0 1 0 99
C 500 175 "GT_NIM" 520 152 0 1 47 0 L
X "VHDL_MODE" "OUT" 520 108 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT_NIM" 440 152 0.00 0.00 47 0 0 2 0 0 1 0 99
C 500 100 "GT_TTL" 520 77 0 1 47 0 L
X "VHDL_MODE" "OUT" 520 33 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT_TTL" 440 77 0.00 0.00 47 0 0 2 0 0 1 0 99
C 500 25 "GT2_P" 520 2 0 1 47 0 L
X "VHDL_MODE" "OUT" 520 -42 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT2_P" 440 2 0.00 0.00 47 0 0 2 0 0 1 0 99
C 500 -25 "GT2_N" 520 -48 0 1 47 0 L
X "VHDL_MODE" "OUT" 520 -92 0.00 0.00 47 0 0 0 0 0 1 0 99
X "PIN_TEXT" "GT2_N" 440 -48 0.00 0.00 47 0 0 2 0 0 1 0 99
L 500 25 450 25 -1 16
L 450 -350 450 725 -1 16
L 500 100 450 100 -1 16
L 500 175 450 175 -1 16
L -550 725 -550 -350 -1 16
L 500 325 450 325 -1 16
L 500 500 450 500 -1 16
L 500 -175 450 -175 -1 16
L 500 -125 450 -125 -1 16
L -550 625 450 625 -1 16
L -600 550 -550 550 -1 16
L -600 375 -550 375 -1 16
L -600 175 -550 175 -1 16
L -600 -125 -550 -125 -1 16
L -600 -25 -550 -25 -1 16
L -600 -225 -550 -225 -1 16
L -600 -175 -550 -175 -1 16
L -600 -300 -550 -300 -1 16
L -550 -350 450 -350 -1 16
L 450 725 -550 725 -1 16
A 475 -25 25 0.00 359.91 74
A 475 275 25 0.00 359.91 74
A 475 425 25 0.00 359.91 74
A -575 325 25 0.00 359.91 74
A -575 100 25 0.00 359.91 74
A -575 500 25 0.00 359.91 74
T -38 665 0.00 0.00 47 0 0 1 0 9 0
CAEN_COMS
P "BLOCK" "TRUE" 0 10 0.00 0.00 47 0 0 1 0 0 0 0 99
